.button-photo {
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
  min-height: 33px;
  padding: 0 10px 0 0;
  text-shadow: 1px 0 1px $color-white;
  border: 1px solid $silver-dark;
  border-radius: 3px;
  background: linear-gradient(to bottom, $gray-mercury-more-dark 0%, $gray-mercury-more-light 100%);
  cursor: pointer;
}

.button-photo--error {
  border-color: $color-maroon-flush-light;
}

.button-photo--hidden {
  display: none;
}

.button-photo:hover {
  background: $gray-mercury-more-dark;
}

.button-photo__text {
  display: block;
  max-width: 141px;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
}

.button-photo span,
.button-photo img {
  display: block;
}

.button-photo__image {
  position: relative;
  width: 35px;
  height: 33px;
  border-right: 1px solid $silver-light;
}

.button-photo__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
