.about__popup-help {
  background: $color-white;
  width: 100%;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.about__popup-header {
  height: 42px;
  background: $gray-mercury;
  color: $color-black;
  font-size: 15px;
  font-weight: normal;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 3px 3px 0 0;
}

.about__popup-block {
  height: 430px;
  overflow-y: scroll;
  padding: 20px 20px 20px 15px;
  position: relative;
}

.about__popup-list {
  padding: 15px 0 0 15px;
  list-style: disc;
  list-style-type: decimal;
}

.about__popup-nolist {
  list-style-type: none;
}

.about__popup-block::-webkit-scrollbar {
  width: 4px;
}

.about__popup-wrapper:after {
  display: block;
  position: absolute;
  content: "";
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.about__popup-block::-webkit-scrollbar-thumb {
  background-color: $color-hibiscus;
}

.about__popup-small {
  max-width: 523px;
}

.about__popup-wrapper {
  width: 680px;
  max-width: 680px;
}

.about__popup-close {
  display: block;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 14px;
  height: 14px;
  z-index: 2;
  background: url("../img/step2/icons/popup-close.svg") 0px 0px / cover
    no-repeat;
}
