.achievements-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.achievements-list__item {
  background: #ffffff;
  margin-bottom: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.achievements-list__header {
  padding: 10px;
  display: flex;
}

.achievements-list__profile {
  display: flex;
  align-items: center;
}

.achievements-list__img-wrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 10px;
}

.achievements-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.achievements-list__profile {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.achievements-list__profile-link {
  color: #666666;
  transition: 0.2s;

  &:hover {
    color: $color-text-pink;
  }
}

.achievements-list__profile-heading {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.achievements-list__date {
  flex-shrink: 0;
}

.achievements-list__date {
  color: #a3a3a3;
  font-size: 12px;
}

.achievements-list__time {
  &::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../img/step2/icons/clock.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
  }
}

.achievements-list__media-wrap {
  height: 537px;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.achievements-list__control {
  display: flex;
}

.achievements-list__like,
.achievements-list__vote {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  color: #303030;
  padding: 7px 15px;
  font-size: 13px;
  font-weight: bold;
  transition: 0.2s color;
  flex-grow: 1;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-bottom: 3px;
  }

  &:hover {
    color: $color-text-pink;
  }
}

.achievements-list__like {
  &::before {
    background-image: url('../img/step2/icons/like-heart.svg');
  }

  &:hover::before,
  &.active::before {
    background-image: url('../img/step2/icons/like-heart-active.svg');
  }
}

.achievements-list__vote {
  // border-left: 1px solid #e0e0e0;

  &::before {
    background-image: url('../img/step2/icons/star.svg');
    background-position: 0 -1px;
  }

  &:hover::before {
    background-image: url('../img/step2/icons/star-active.svg');
  }
}

.achievements-list__like-amount {
  color: #999999;
  font-weight: normal;
  margin-top: 1px;
  position: absolute;
  margin-left: 3px;
}

.achievements-list__item-main {
  padding: 10px 20px;
}

.achievements-list__item-heading-link {
  color: $color-cardinal-light;

  &:hover {
    color: #cf3459;
  }
}

.achievements-list__item-heading {
  font-size: 15px;
  margin: 0;
  line-height: 1.35em;
}

.achievements-list__personal-achievements {
  color: $color-cardinal-light;
  font-size: 12px;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 11px;
    background-image: url('../img/step2/icons/prize.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-bottom: 3px;
    transition: 0.2s;
  }
}

.achievements-list__hidden-block {
  width: 100%;
  display: flex;
  margin-top: 10px;
  position: relative;
}

.achievements-list__hidden-block--tegs {
  margin-top: 0;
}

.achievements-list__hidden-btn {
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: #999999;
  padding: 0;
  margin-left: auto;
  right: 0;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/step2/icons/eye-hidden.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    transition: all 0.3s;
  }

  &:hover,
  &:focus {
    color: #cf3459;

    &::before {
      background-image: url("../img/step2/icons/eye-hidden-red.svg");
    }
  }
}

.achievements-list__hidden-btn--shadow {
  position: absolute;
  z-index: 3;
  background-color: $color-white;
  outline: none;
  bottom: -5px;
}

.achievements-list__hidden-btn:after {
  content: "";
  height: 23px;
  background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  // background: linear-gradient(to bottom, #ffffff 0%, rgba(97, 0, 254, 0) 100%);
  left: -30px;
  margin-right: 108px;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
}

.achievements-list__description {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.achievements-list__description--text {
  padding-top: 20px;
}

.achievements-list__location {
  flex: 1 1 auto;
  // width: 70%;
  position: relative;

  display: flex;
  align-items: flex-start;
}

.achievements-list__location-icon {
  margin-right: 4px;
  flex-shrink: 0;
}

.achievements-list__location-address {
  margin: 0;
  width: 70%;
  font-size: 12px;
  color: #999;
}

.achievements-list__more-info {
  display: block;
  font-size: 14px;
  color: #999999;
  text-align: center;
  width: 100%;
  flex-basis: 100%;
  padding: 0;
  padding: 8px 0;
  border-top: 1px solid #e5e5e5;
  transition: 0.2s;

  &:hover {
    color: #cf3459;
  }
}

.achievements-list__comment {
  display: block;
  font-size: 14px;
  color: #999999;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding: 8px 0;
  flex-basis: 100%;
  width: 100%;

  transition: 0.2s;

  &:hover {
    color: #cf3459;
  }
}

.achievements-list__buttons {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.achievements-list__tegs--list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  color: #999;
  padding-right: 5px;
}

.achievements-list__tegs--list-video {
  margin-bottom: 10px;
}

.achievements-list__tegs--list li {
  padding-right: 5px;
}

.achievements-list__tegs--list a {
  color: #999;
  transition: all 0.3s;
}

.achievements-list__tegs--list li:hover a {
  color: #b8193f;
  cursor: pointer;
}

.achievements-list__comment-amount {
  color: #999999;
}

.achievements-list__more-info--mobile {
  display: none;
}

@media only screen and (max-width: $mobile-width) {
  .achievements-list__img-wrap {
    width: 50px;
    height: 50px;
  }

  .achievements-list__profile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .achievements-list__like,
  .achievements-list__vote {
    padding: 4px 5px;
    padding-top: 5px;
  }


  .achievements-list__like {
    position: relative;
  }

  .achievements-list__media-wrap {
    height: 90vw;
  }

  .achievements-list__hidden-btn {
    margin-left: 0;
  }

  .achievements-list__location-address {
    width: 100%;
  }

  .achievements-list__description--text {
    padding-top: 10px;
  }

  .achievements-list__more-info--desktop {
    display: none;
  }

  .achievements-list__more-info--mobile {
    display: block;
  }

  .achievements-list__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .achievements-list__buttons a {
    width: 50%;
    cursor: pointer;
    flex-basis: 50%;
  }

  .achievements-list__more-info {
    padding: 8px 0 8px 0;
    border-top: 1px solid #e5e5e5;
  }
}

@media only screen and (max-width: $mobile-width) {
  .achievements-list__more-info--hidden {
  display: none;
  }
}

