.add-achievements__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  min-width: 177px;
  width: auto;
  height: 33px;
  color: #333333;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  border-image: initial;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    background: rgb(234, 234, 234);
  }

  :focus {
    outline: none;
  }
}

.add-achievements__video-input-map {
  padding-right: 155px;
}

.add-achievements {
  background: #f7f7f7;
  padding: 18px;
  margin-bottom: 20px;
}

.add-achievements__input,
.add-achievements__video-input {
  display: flex;
  align-items: center;
}

.add-achievements__input-field,
.add-achievements__video-input-field,
.add-achievements__location-input-field {
  width: 65%;
  margin-bottom: 15px;
  position: relative;
  border: none;
  border-radius: 3px;

  .chosen-container {
    margin-bottom: 0;
  }

  .chosen-choices {
    padding-left: 11px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
  }

  .chosen-search-input {
    font-size: 14px !important;
    color: #777777 !important;
  }
}

.add-achievements__video-input-field {
  // box-shadow: 0 0 0 1px #cccccc;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.add-achievements__location-input-field {
  position: relative;
}

.add-achievements__location-input-field input {
  padding-right: 135px;
}

.add-achievements__video-input-field textarea {
  border: none !important;
}

.add-achievements__location-input-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #666666;
  font-size: 13px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  padding: 5px 8px;
  cursor: pointer;

  &:hover {
    color: #333333;
    background: #cccccc;
    border-color: #999999;
  }
}

.add-achievements__video-input-field input,
.add-achievements__location-input-field input,
.add-achievements__video-input-field textarea.add-achievements__input-hashtag {
  height: 34px;
}

.add-achievements__video-input-field input,
.add-achievements__location-input-field input {
  padding-left: 11px;
  border: none;
  border-radius: 3px;
  width: 100%;
}

.add-achievements__video-input-field textarea.add-achievements__input-hashtag {
  display: block;
  min-height: 34px;
  padding-top: 8px;
}

.add-achievements__input-field-blog {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  padding-left: 11px;
  border: 1px solid #cccccc;
  width: 100%;

  input[type="file"] {
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%)
  }
}

.btn-input {
  position: relative;
  height: 100%;
  padding: 3px 13px;
  border-radius: 3px;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  border: 1px solid #cccccc;
  color: #626262;
  font-size: 13px;
  transition: 0.2s;
}

.btn-input:hover {
  color: #333333;
  background: #cccccc;
  border-color: #999999;
}

.add-achievements__input-field-blog-text {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 63px;
  margin: 0;
}

.add-achievements__input-field-blog .btn-input {
  flex-shrink: 0;
}

.add-achievements__input-field-blog input[type="file"] {
  display: none;
}

.add-achievements__input-field input,
.add-achievements__video-input-field input,
.add-achievements__location-input-field input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-achievements__input-field input:focus,
.add-achievements__video-input-field input:focus,
.add-achievements__location-input-field input:focus {
  outline: none;
}

.add-achievements__input-field textarea:focus,
.add-achievements__video-input-field textarea:focus {
  outline: none;
}

.add-achievements__input-field textarea,
.add-achievements__video-input-field textarea {
  height: 140px;
  max-height: 450px;
  min-height: 34px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
  resize: vertical;
  padding: 8px 11px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cecece;
  }
}

.add-achievements__input-field textarea {
  line-height: 1.5em;
}

.add-achievements__input-field-blog,
.add-achievements__video-input-field input[type="file"] {
  padding: 7px;
}

.add-achievements__input-field input.youtubeLink,
.add-achievements__video-input-field input.youtubeLink {
  background-position: 98.5% center;
  background-image: url('../img/step2/icons/url-link.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  padding-right: 40px;
}

.add-achievements__input-field input.youtubeLink {
  width: 100%;
  min-height: 36px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  background-color: #fff;
  padding: 5px 35px 5px 7px;
}

.add-achievements__input-field input.youtubeLink:hover,
.add-achievements__input-field input.youtubeLink:focus,
.add-achievements__input-field input.youtubeLink:active {
  border-color: #be2943;
}

.add-achievements__input-error,
.add-achievements__video-input-error {
  width: 35%;
  /*height: 100%;*/
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  padding-left: 11px;
  font-size: 13px;
  color: #cc244c;
  visibility: hidden;
}

.add-achievements__input-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-achievements__input-field {
  position: relative;
}

.add-achievements__input-text-title {
  background: #ececec;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  border-bottom: none;
  padding: 5px 15px;
  margin: 0;
}

.add-achievements__input-text-link {
  color: #be2943;
  font-size: 13px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;

  &--youtube {
    &::before,
    &::after {
      content: "";
      width: 13px;
      height: 13px;
      position: absolute;
      top: 2px;
      left: 10px;

      background-image: url("../img/href-link.svg");
      background-repeat: no-repeat;
      background-size: contain;

      transition: 0.2s;
    }

    &::after {
      background-image: url("../img/href-link-hover.svg");
      opacity: 0;
    }
  }

  &:hover {
    color: #e02143;
  }
}

.add-achievements__input-text-link--youtube:hover {
  &::before {
    opacity: 0;
  }

  &::after {
    opacity: 1;
  }
}

.add-achievements__input-text-link--photo {
  &::before,
  &::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 2px;
    left: 10px;

    background-image: url("../img/step2/icons/plus-red.svg");
    background-repeat: no-repeat;
    background-size: contain;

    transition: 0.2s;
  }

  &::after {
    background-image: url("../img/step2/icons/plus-red-hover.svg");
    opacity: 0;
  }
}

.add-achievements__input-text-link--photo:hover {
  &::before {
    opacity: 0;
  }

  &::after {
    opacity: 1;
  }
}

.add-content__photo-location-btn {
  transition: 0.2s;

  &:hover {
    color: #333333;
    background: #cccccc;
    border-color: #999999;
  }
}

.add-achievements__input-area-text .icon,
.add-achievements__input-text-link .icon {
  margin-right: 5px;
}

.add-achievements__input-area-text::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("../img/attention.svg");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 4px;
}

.icon-add-video {
  background: url('../img/step2/icons/href-link.svg') 50% no-repeat / cover;
  width: 13px;
  height: 13px;
  margin-top: 3px;
}

// .icon-add-photo {
//   background: url('../img/step2/icons/plus-red.svg') 50% no-repeat / cover;
//   width: 13px;
//   height: 13px;
//   margin-top: 3px;
// }

.icon-attention {
  background: url('../img/step2/icons/attention.svg') 50% no-repeat / cover;
  width: 13px;
  height: 13px;
  margin-top: 3px;
}

.add-achievements__input-text-inside {
  display: none;
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: $color-text-pink;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: #8b1330;
  }
}

.add-achievements__input-block {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.add-achievements__input-area {
  position: relative;
  background: linear-gradient(rgb(234, 234, 234) 0%, rgb(255, 255, 255) 100%);
}

.add-achievements__input-area-text {
  display: inline-block;
  color: #999999;
  font-size: 13px;
  padding-right: 100px;
}

.add-achievements__photo-location-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #666666;
  font-size: 13px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  padding: 3px 8px 2px;
  cursor: pointer;
  line-height: 20px;
}

.add-achievements__photo-location-name--mobile {
  display: none;
}

@media (max-width: 767px) {
  .add-achievements__photo-name-block {
    margin-left: 0;
    margin-right: 0;
    width: calc(100% - 0);
  }

  .add-achievements__video-input-map {
    padding-right: 95px;
  }

  .add-achievements__photo-name-info-turn span {
    display: none;
  }

  .add-achievements__photo-name-info-del span {
    display: none;
  }

  .add-achievements__photo-name-info-name {
    flex: auto;
  }

  .add-achievements__photo-name-title {
    align-items: center;
  }

  .add-achievements__photo-name-info-turn {
    margin-right: 3px;
  }

  .add-achievements__photo-name-info-turn, .add-achievements__photo-name-info-del {
    width: 20px;
    max-width: 20px;
    height: auto;
    padding: 0;
  }

  .add-achievements__photo-name-info-del button {
    width: 100%;
  }

  .add-achievements__photo-name-info-turn:before {
    content: none;
  }

  .add-achievements__photo-name-info-del svg {
    height: 20px;
    width: 17px;
    margin-right: auto;
    margin-left: auto;
  }

  .add-achievements__input,
  .add-achievements__video-input {
    flex-wrap: wrap;
  }

  .add-achievements__input-field,
  .add-achievements__video-input-field,
  .add-achievements__location-input-field {
    width: 100%;
  }

  .add-achievements__input-error,
  .add-achievements__video-input-error {
    width: 100%;
    margin-top: -8px;
    margin-bottom: 19px;
    display: none;
  }

  .add-achievements__input--has-error .add-achievements__input-error,
  .add-achievements__video-input--has-error .add-achievements__video-input-error {
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    padding-left: 1px;
  }

  // .add-achievements__input-field span,
  .add-achievements__video-input-field span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2px;
    // padding-bottom: 5px;
    // color: #222222;
    // margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.01em;
  }

  .add-achievements__input-field span {
    display: none;
  }

  .profile-name {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
    letter-spacing: 0.03em;
  }

  .profile-name-title {
    font-weight: normal;
    color: #000000;
    font-size: 15px;
  }

  .add-achievements__video-input-text {
    margin-bottom: 11px;
  }

  .add-achievements__video-input-text-title {
    display: none;
  }

  .add-achievements__video-input-text-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 33px;
    color: #333333;
    background: linear-gradient(#f6f6f6 0%, #dddddd 100%);
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 2px 7px;
  }

  .add-achievements__video-input-text-link:hover,
  .add-achievements__video-input-text-link:active,
  .add-achievements__video-input-text-link:focus {
    background: #d7d7d7;
    color: #333333;
  }

  .add-achievements__photo-location-name--desktop {
    display: none !important;
  }

  .add-achievements__photo-location-name--mobile {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px !important;
  }

  .add-achievements {
    padding: 15px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .add-achievements__input-area-text {
    padding-right: 0;
  }
}

