.add-content__photo-name-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $gray-alto-dark-more;
}

.add-content__photo-name-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $gray-alto-dark-more;
}

.add-content__photo-name-photo, .add-content__photo-name-info {
  margin-top: 10px;
}

.add-content__photo-name-photo {
  width: 25%;
}

.add-content__photo-name-block {
  height: fit-content;
  margin-top: 5px;
  width: calc(100% - 0px);
  padding: 7px 18px;
  border-radius: 3px;
  background: $gray-gallery-light;
  margin-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.add-content__photo-name-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $gray-alto-dark-more;
}

.add-content__photo-name-info-name {
  width: 25%;
  height: 38px;
  display: flex;
  align-items: center;
  // padding-left: 5px;
  font-weight: normal;
}

.add-content__photo-name-info-turn {
  display: flex;
  padding-left: 14px;
  display: inline-block;
  margin-top: 2px;
}

.add-content__photo-name-info-turn button {
  margin-top: 8px
}

.add-content__photo-name-info-turn button,
.add-content__photo-name-info-del button {
  border: none;
  background: transparent;
  padding: 0;
}

.add-content__photo-name-info-del button:hover {
  color: $color-maroon-flush;
  cursor: pointer;
}

.add-content__photo-name-info-turn.left:hover button,
.add-content__photo-name-info-turn.right:hover button {
  color: $color-maroon-flush;
  cursor: pointer;
}

.add-content__photo-name-info-del button:hover path {
  fill: $color-maroon-flush;
}

.add-content__photo-name-info-turn.left button:before {
  background: url(../img/step2/icons/rotate-left.svg) 50% no-repeat;
}

.add-content__photo-name-info-turn button:before {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  background-size: cover;
  margin-right: 3px;
}

.add-content__photo-name-info-turn.right button:before {
  background: url(../img/step2/icons/rotate-right.svg) 50% no-repeat;
}

// .add-content__photo-name-info-turn.left button:hover .add-content__photo-name-info-turn.left button:before,
// .add-content__photo-name-info-turn.left button:hover .add-content__photo-name-info-turn.left button:before,
// .add-content__photo-name-info-turn.right button:hover .add-content__photo-name-info-turn.right button:before,
// .add-content__photo-name-info-turn.right button:hover .add-content__photo-name-info-turn.right button:before {
//   background: url(../img/step2/icons/rotate-left-active.svg) 50% no-repeat;
// }

.add-content__photo-name-info-turn.left:hover button:before,
.add-content__photo-name-info-turn.left:target button:before {
  background: url(../img/step2/icons/rotate-left-active.svg) 50% no-repeat;
}

.add-content__photo-name-info-turn.right:hover button:before,
.add-content__photo-name-info-turn.right:target button:before {
  background: url(../img/step2/icons/rotate-right-active.svg) 50% no-repeat;
}

.add-content__photo-name-info-turn button:before {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  background-size: cover;
  margin-right: 3px;
}

.add-content__photo-name-info-del {
  width: 25%;
  // height: 38px;
  flex: 1;
  text-align: right;
  // padding-right: 14px;
}

.add-content__photo-turn {
  display: flex;
  width: 50%;
}

.add-content__photo-turn .left,
.add-content__photo-turn .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-content__photo-name-info-del {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-content__photo-name-photo, .add-content__photo-name-info {
  margin-top: 10px;
}

.add-content__photo-name-photo {
  width: 25%;
}

.add-content__photo-name-info {
  width: calc(75% - 1px);
  display: flex;
  flex-wrap: wrap;
  padding-left: 14px;
}

.add-content__photo-name-name {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-content__photo-location-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  color: $gray-dove;
  font-size: 13px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  background: linear-gradient($color-white-dark 0%, $gray-gallery-light 100%);
  padding: 3px 8px 2px;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.5;
}

.add-content__photo-location-name--mobile {
  display: none;
}

.add-content__photo-location input {
  padding-right: 142px;
}

.add-content__photo-location input {
  padding-right: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-content__photo-name-name textarea {
  max-height: 164px;
  max-width: 100%;
  min-width: 100%;
  min-height: 34px;
  padding-top: 6px;
  line-height: 28px;
}

.add-content__photo-name-info-del svg {
  display: inline-block;
  vertical-align: text-bottom;
  fill: $gray-dove;
  height: 14px;
  width: 14px;
  margin-right: 3px;
}

.add-content__video-input-field {
  position: relative;
}

.add-content__photo-name-name input,
.add-content__photo-name-name textarea,
.add-content__video-input-field input {
  width: 100%;
  padding: 2px 11px;
  border: 1px solid $gray-alto-dark-more;
  border-radius: 3px;
  margin-bottom: 7px;
}

.add-content__photo-name-name input, .add-content__photo-name-name textarea {
  height: 34px;
}

.add-content__photo-name-name input {
  min-height: 34px;
}

.add-content__photo-location {
  position: relative;
}

.add-content__photo-name-name textarea[id="address"] {
  padding-right: 155px;
}

@media only screen and (max-width: $tablet-width) {

  .add-content__photo-name-title {
    align-items: center;
  }

  .add-content__photo-location input {
    padding-right: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .add-content__photo-name-info-del {
    flex: 0 0 auto;
  }

  .add-content__photo-location-btn .icon-geo-tag {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
  }

  .add-content__button {
    margin: 0;
  }

  .add-content__photo-name-block {
    margin: 0;
  }

  .add-content__photo-name-title {
    display: flex;
    justify-content: space-between;
  }

  .add-content__photo-wrap {
    display: flex;
  }

  .add-content__photo-name-info-name {
    width: auto;
  }

  .add-content__photo-name-info-turn {
    padding-left: 0;
    margin-right: 3px;
    padding-left: 14px;
  }

  .add-content__photo-name-info-turn button {
    margin-top: 0
  }
}

@media only screen and (max-width: $mobile-width) {
  .add-content__photo-name-info-name {
    margin-right: auto;
    font-weight: normal;
  }
  .add-content__photo-name-info-turn span {
    display: none;
  }

  .add-content__photo-name-info-turn {
    height: auto;
    margin-top: 0;
  }

  .add-content__photo-name-info-turn, .add-content__photo-name-info-del {
    width: 20px;
    max-width: 20px;
    padding: 0;
    margin-right: 10px;
  }

  .add-content__photo-name-info-del button span {
    display: none;
  }

  .add-content__photo-name-info-del button svg {
    width: 17px;
    height: 17px;
  }

  .add-content__photo-location-name--desktop {
    display: none;
  }

  .add-content__photo-location-name--mobile {
    display: inline-block;
  }

  .add-content__photo-location-btn .icon-geo-tag {
    width: 13px;
    height: 13px;
    background: url(../img/step2/icons/icon-geo-tag.svg) no-repeat;
    background-size: cover;
    opacity: 1;
  }

  .add-content__photo-name-block {
    padding: 7px 15px;
  }

}
//----------------------------------- V I D E O -----------------------------------

.add-content .choice_interest_custom.chosen-container-multi .chosen-choices {
  background-image: none;
  min-height: 34px;
  padding-left: 11px;
  box-shadow: none;
  border: 1px solid $silver;
  border-radius: 3px;
  font-size: 14px;
  padding-top: 2px;
}

.add-content .chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid $gray-silver-chalice;
  background-color: $color-white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, $gray-gallery-clear), color-stop(15%, $color-white));
  background-image: linear-gradient($gray-gallery-clear 1%, $color-white 15%);
  cursor: text;
}

.add-content .chosen-container {
  margin: 0;
}

.add-content .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  width: 100%;
}

.add-content .choice_interest_custom.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  color: $gray-boulder-derk;
  font-size: 14px;
}

.add-content .chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

.add-content .chosen-container-multi .chosen-choices li.search-field {
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.add-content .chosen-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.add-content__video {
  background: $color-alabaster-light;
  padding: 18px;
  margin-bottom: 20px;
  margin-top: -4px;
}

.add-content__input, .add-content__video-input {
  display: flex;
  align-items: center;
}

.add-content__location-input-fild {
  position: relative;
}

.add-content__location-input-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  color: $gray-dove;
  font-size: 13px !important;
  border: 1px solid $gray-nobel-dark;
  border-radius: 3px;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  padding: 3px 8px 2px;
  transition: all 0.3s;
}

.add-content__location-input-btn:hover {
  color: $color-mine-shaft;
  background: $silver;
  border-color: $gray-dusty-light;
  cursor: pointer;
}

.add-content__input-fild input, .add-content__video-input-fild input, .add-content__location-input-fild input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-content__location-input-fild textarea {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 6px;
  padding-right: 155px;
}

.add-content__video-input-fild input, .add-content__location-input-fild input, .add-content__location-input-fild textarea {
  padding-left: 11px;
  border: 1px solid $silver;
  border-radius: 3px;
  width: 100%;
}

.add-content__video-inputs {
  position: relative;
  height: 49px;
  width: 100%;
}

.add-content__video-input-file {
    height: 49px;
}

.add-content__video-input-file.active, .add-content__video-input-youtube.active {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

.add-content__video-input-file, .add-content__video-input-youtube {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
}

.add-content__video-input-file.active, .add-content__video-input-youtube.active {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.add-content__video-input-fild--with-change-button {
  display: flex;
}

.add-content__input-fild-blog, .add-content__video-input-fild input[type="file"] {
  padding: 7px;
  font-size: 10px;
}

.add-content__video-input-fild input[type="file"] {
  padding: 3px;
  font-size: 14px;
  border-radius: 3px;
  line-height: normal;
  padding: 5px;
}

.add-content__video-input-fild--with-change-button input {
  flex-grow: 1;
  height: 34px;
}

.add-content__video-input-fild-change-button {
  margin-bottom: 0;
  margin-left: 5px;
  box-sizing: border-box;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 34px;
  height: 34px;
  color: $color-mine-shaft;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  border-image: initial;
}

.add-content__video-input-fild-change-button img {
  width: 100%;
  height: auto;
}

.add-content__video-input--has-error .add-content__video-input-error, .add-content__input-error span.add-content__input-error--red, .add-content__video-input-error span.add-content__video-input-error--red {
  color: $color-maroon-flush;
}

.add-content__input-fild, .add-content__video-input-fild, .add-content__location-input-fild {
  width: 65%;
  margin-bottom: 15px;
}

.add-content__location-input-fild textarea {
  resize: none;
}

.add-content__video-input-textarea-error {
  display: none;
  width: 100%;
  color: $color-maroon-flush;
  font-size: 13px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.add-content__input-error, .add-content__video-input-error {
  // width: 35%;
  display: flex;
  color: $color-maroon-flush;
  align-items: center;
  margin-bottom: 11px;
  padding-left: 11px;
  font-size: 13px;
  display: none;
}

.add-content__video-input-fild input, .add-content__location-input-fild input, .add-content__video-input-fild textarea.add-content__input-hashtag, .add-content__location-input-fild textarea {
  height: 34px;
}

.add-content__video-input-fild textarea.add-content__input-hashtag {
  display: block;
  min-height: 34px;
  padding-top: 6px;
  overflow-y: hidden;
  padding-bottom: 0;
}

.add-content__video-input-fild .add-content__video-input-advice {
  display: none;
}

.add-content__input-fild textarea, .add-content__video-input-fild textarea {
  height: 140px;
  max-height: 450px;
  min-height: 34px;
  border: 1px solid $silver;
  border-radius: 3px;
  width: 100%;
  resize: vertical;
  padding: 8px 11px;
}

.add-content__button button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33px;
  color: $color-mine-shaft;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  border-image: initial;
}

.add-content__button {
  margin-bottom: 15px;
}

.add-content__button button:hover {
  background: rgb(234, 234, 234);
}

.add-content__button--short button {
  width: auto;
  max-width: 100%;
  min-width: 177px;
  margin-bottom: 0;
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s;
}

.add-content__button--short button:hover {
  cursor: pointer;
}

.add-content__video-input--has-error .add-content__video-input-error, .add-content__input-error span.add-content__input-error--red, .add-content__video-input-error span.add-content__video-input-error--red {
    color: $color-maroon-flush;
}

.add-content__video-input-fild textarea[name="video_tags[]"] {
  height: 34px;
}

.add-content__photo-location-btn .icon-geo-tag {
  width: 13px;
  height: 19px;
  background: url("../img/step2/icons/icon-geo-tag.svg") no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
}

.add-content__photo-location-btn .add-achievements__photo-location-name::before,
.add-content__location-input-btn::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  position: relative;
  top: 2px;
  margin-right: 3px;
  background: url("../img/step2/icons/icon-geo-tag.svg") no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
}

.add-content__location-input-btn::before {
  margin: 0;
}

@media only screen and (max-width: $mobile-width) {
  .add-content__input, .add-content__video-input {
    flex-wrap: wrap;
  }
  .add-content__input-fild, .add-content__video-input-fild, .add-content__location-input-fild {
    width: 100%;
  }

  .add-content__input--has-error .add-content__input-error, .add-content__video-input--has-error .add-content__video-input-error {
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: $color-mine-shaft;
    padding-left: 1px;
  }

  .add-content__input-error, .add-content__video-input-error {
    width: 100%;
    margin-top: -8px;
    margin-bottom: 19px;
    display: none;
  }

  .add-content__location-input-btn--mb {
    display: none;
  }

  .add-content__location-input-btn--na {
    text-transform: capitalize;
  }

  .add-content__photo-name-name textarea[id="address"] {
    padding-right: 95px;
  }

  .add-content__location-input-fild textarea {
    padding-right: 95px;
  }

  .add-content__video {
    padding: 18px 15px;
  }
}

@media only screen and (max-width: 350px) {
  .add-content__photo-location-btn .icon-geo-tag {
    display: none;
  }

  .add-content__photo-name-name textarea[id="address"] {
    padding-right: 80px;
    line-height: 1.5em;
  }

  .add-content__photo-location-btn .add-achievements__photo-location-name::before,
  .add-content__location-input-btn::before {
    content: none;
  }
}
