.auth {
  position: relative;
}

.auth__content {
  position: relative;
  display: flex;
}

.auth__promo {
  margin: 0 0 0 auto;
}

.auth__info {
  width: 50%;
}

.auth__form {
  padding: 48px 0 0 28px;
  position: relative;
  overflow: hidden;
  width: 50%;
}

@media only screen and ($tablet-width) {
  .auth__content {
    display: block;
  }

  .auth__promo {
    margin: 0 auto;
  }

  .auth__info {
    width: 100%;
    padding: 0 0 6px;
  }

  .auth__form {
    width: 100%;
    padding: 25px 0;
    min-height: 600px;
  }

  .auth__form--gradient::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    z-index: -2;
  }
}

@media only screen and ($mobile-width) {
  .auth__form {
    position: relative;
    padding: 0;
    height: calc(100vh - 44px);
  }

  .auth__form--gradient::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }

  .auth__promo {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 98;
  }

  .auth__info {
    padding: 0;
  }
}
