.settings .chosen-single {
  height: 37px;
  background: #f3f3f3;
  border-radius: 3px;
  color: #757575;
  font-size: 14px;
  padding-top: 5px;
}

.search-choice-close {
  transition: 0.2s;
}

.chosen-container-single .chosen-single div b {
  background-position: 0px 7px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 8px;
}

.chosen-container {
  margin-bottom: 20px;

  .chosen-results {
    padding: 0;

    li {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;

      &.highlighted {
        background-color: #666666;
        background-image: none;
      }
    }
  }
}

.chosen-container-multi .chosen-choices {
  background: #f3f3f3;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  min-height: 37px;
  padding-top: 4px;
  padding-left: 8px;

  li.search-field {
    width: 100%;
  }
}

.select-single--participants a,
.select-single--town a,
.select-single--from a,
.select-single--to a {
  min-height: 37px;
}

.select-single--participants span,
.select-single--town span,
.select-single--from span,
.select-single--to span {
  padding-top: 5px;
}

.chosen-container-single--custom {
  .chosen-single {
    border-color: #cccccc !important;
    box-shadow: none !important;
    background: #ffffff !important;
    height: 37px !important;
    border-radius: 3px !important;
    color: #757575 !important;
    font-size: 14px !important;
    padding-top: 5px !important;
  }

  .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #cccccc;
    border-top: 0;
    background: #ffffff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    clip: rect(0, 0, 0, 0);
  }
}

.friends__select-interests {
  .chosen-choices {
    background-image: none;
    background-color: #ffffff;
    min-height: 37px;
    padding-left: 8px;
    box-shadow: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 15px;
    padding-top: 4px;
  }
}

.chosen-container-single .chosen-single {
  border-radius: 3px !important;
  border-color: #bdbdbd;
  border: 1px solid #c1c1c1;
}

.chosen-container-multi .chosen-choices li.search-choice {
  font-size: 13px;
}

.chosen-single.chosen-default:focus,
.chosen-single.chosen-default:target  {
  border: 1px solid #aaaaaa !important;
  border-color: #aaaaaa !important;
}

.chosen-container-single .chosen-single:focus {
  border: 1px solid #aaaaaa !important;
  border-color: #aaaaaa !important;
}
