.feedback {
  padding: 0;
  width: 75%;
  top: 0;
  padding: 0 5px;
  box-sizing: border-box;
  min-height: 750px;
}

.feedback__wrapper h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.feedback__wrapper .form-header {
  background: $color-alto;
  background: -moz-linear-gradient(
    top,
    $gray-gallery-light 0%,
    $gray-alto 100%
  );
  padding: 5px 17px;
  font-size: 14px;
  color: $gray-god;
  text-shadow: 0px 1px 1px $color-white;
  border-bottom: 1px solid $gray-silver-dark;
}

.feedback__wrapper .form-line {
  margin-bottom: 7px;
}

.feedback__content {
  padding: 20px 15px;
  overflow: hidden;
}

.feedback__text {
  font-size: 14px;
  letter-spacing: 0.01em;
}

.feedback__text p,
.feedback__text h1 {
  margin: 0;
}

.feedback__text h1 + p {
  margin-top: 14px;
}

.feedback__menu {
  border-bottom: 1px solid $gray-gallery-light;
  padding: 12px 15px;
}

.feedback__menu__visible-xs {
  display: none;
}

.feedback-form {
  margin-top: 14px;
  background: $gray-gallery-light;
  // border: 1px solid $gray-silver-dark;
  border-radius: 3px;
}

.feedback-form input,
.feedback-form textarea,
.feedback-form a {
  outline: none;
}

.feedback-form__header {
  background: $color-maroon-flush;
  padding: 7px 17px;
  height: 38px;
  font-size: 16px;
  font-weight: bold;
  color: $color-white;
  text-shadow: none;
}

.feedback-form__text {
  width: 100%;
  padding: 18px 16px;
}

.feedback-form__line .form-control {
  width: 100%;
  padding: 5px 20px 5px 10px;
  border: 1px solid $gray-silver-dark-more;
  font-size: 14px;
  line-height: 1.4em;
  -webkit-appearance: none;
  border-radius: 3px;
}

.feedback-form__line textarea.form-control {
  padding-top: 10px;
}

.feedback-form__line .form-control[type="email"] {
  height: 37px;
}

.feedback-form__line .form-control::placeholder {
  color: $gray-dusty-dark;
}

.feedback-form__line {
  margin-bottom: 7px;
  position: relative;
}
.feedback-form__option {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid $silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: $color-white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-cardinal-light-more;
}

.feedback-form__submenu li {
  padding: 0px 20px 0px 10px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
}

.feedback-form__submenu li:hover {
  background-color: $gray;
  color: $color-white;
}

.feedback-form__select:focus,
.feedback-form__submenu li:focus {
  background-color: $gray-wild-sant-dark;
}

.feedback-form__select li:focus {
  color: $color-black;
}

.feedback-form__select {
  width: 100%;
  border: 1px solid $gray-silver-dark-more;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 14px;
  line-height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  background: $color-white;
  list-style: none;
  position: relative;
  outline: none;
}

.feedback-form__select select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: -1;
}

.feedback-form__submenu {
  position: absolute;
  list-style: none;
  padding: 0;
  background: $color-white;
  z-index: 5;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  top: -2px;
  left: -1px;
  margin: 0;
  border: 1px solid $silver;
  display: none;
  box-sizing: content-box;
}

.feedback-form__select--open .feedback-form__submenu {
  display: block;
}

.feedback-form__choice {
  padding: 0px 20px 0px 10px;
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.feedback-form__choice--color {
  color: $gray-dusty-dark;
}

.feedback-form__select--selected .feedback-form__choice--color {
  color: $color-mine-shaft;
}

.feedback-form__item--active {
  background-color: $gray;
  color: $color-white;
}

.feedback-form__trigger-arrow {
  position: absolute;
  top: 15px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid $gray-dusty;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.feedback-form__select:hover .feedback-form__trigger-arrow {
  border-top: 5px solid $color-black;
}

.feedback-form__line-button,
.feedback__line-button {
  background: $gray-alto;
  background: linear-gradient(
    to bottom,
    $gray-gallery-light 0%,
    $gray-alto-light 100%
  );
  border: 1px solid $gray-silver;
  color: $color-mine-shaft-dark;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background-clip: padding-box;
  outline: none;
  transition: none;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  line-height: 32px;
  padding: 0;
}

.feedback__line-button--back {
  font-size: 13px;
  width: 195px;
}

.feedback-form__line-button:hover,
.feedback__line-button:hover {
  color: $color-white;
  background: $color-cardinal-light-more;
  text-shadow: none;
  border-color: $color-cardinal-light-more;
  cursor: pointer;
}

.feedback-form__line-button:focus,
.feedback__line-button:focus {
  color: $color-white;
  background: $color-cardinal-light-more;
  text-shadow: none;
  border-color: $color-cardinal-light-more;
  cursor: pointer;
}

.feedback-form__line-button--disabled:hover,
.feedback__line-button--disabled:hover {
  color: $color-mine-shaft-dark;
  background: $gray-alto;
  background: linear-gradient(
    to bottom,
    $gray-gallery-light 0%,
    $gray-alto-light 100%
  );
  text-shadow: none;
  border: 1px solid $gray-silver;
  cursor: auto;
}

.feedback-form__line-button--disabled:focus,
.feedback__line-button--disabled:focus {
  color: $color-mine-shaft-dark;
  background: $gray-alto;
  background: linear-gradient(
    to bottom,
    $gray-gallery-light 0%,
    $gray-alto-light 100%
  );
  text-shadow: none;
  border: 1px solid $gray-silver;
  cursor: auto;
}

.feedback__popup {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.8);
}

.feedback__popup-message {
  background: $color-white;
  width: 100%;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 523px;
  top: 50%;
  margin-top: -100px;
}

.feedback__popup-close {
  display: block;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 14px;
  height: 14px;
  background: url(../img/step2/icons/popup-close.svg) no-repeat 0 0;
  background-size: cover;
  z-index: 2;
}

.feedback__popup-close {
  background: url(../img/step2/icons/popup-close.svg) no-repeat 0 0;
  background-size: cover;
}

.feedback__popup-title {
  background: $gray-mercury;
  border-bottom: 1px solid $color-alto;
  font-size: 15px;
  color: $gray-god;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  padding: 10px 35px 10px 15px;
  position: relative;
  border-radius: 3px 3px 0 0;
  text-align: left;
  min-height: 41px;
}

.feedback__popup-body {
  padding: 20px 15px;
}

.feedback__popup-intro {
  width: 100%;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.65em;
  color: $color-black;
  margin-bottom: 10px;
}

.feedback__popup-intro p,
.feedback__popup-link p {
  margin: 0;
}

.feedback__popup-link {
  width: 100%;
  display: block;
  padding: 0;
}

.feedback-close {
  display: none;
}

.feedback-show {
  display: block;
}

.feedback-form textarea {
  height: 200px;
  resize: none;
  width: 100%;
}

.feedback-form .text-page-question-block {
  color: $gray-dove;
}

.feedback-form .gray-btn {
  font-weight: bold;
}

.feedback-form .gray-btn:hover {
  color: $color-white;
  background: $color-cardinal-light-more;
  text-shadow: none;
  border-color: $color-cardinal-light-more;
}

@media only screen and (max-width: $tablet-width) {
  .feedback {
    width: 100%;
  }
}

@media only screen and (max-width: $mobile-width) {
  .feedback-form__container {
    padding-bottom: 0;
  }

  .feedback__wrapper .text-page h1 + p {
    line-height: 1.45em;
    font-size: 13px;
    padding-top: 0;
    margin-top: 5px;
  }

  .feedback-form {
    margin-left: -15px;
    margin-right: -15px;
  }

  .feedback-form__line [id="question"] {
    padding: 10px 20px 10px 10px;
  }

  .feedback-form .text-page-question-block {
    background: $color-white;
    border-top: 1px solid $gray-silver-dark;
    margin-bottom: 0;
    font-size: 11px;
  }

  .feedback-form .text-page-question-block img {
    width: 36px;
  }

  .feedback-form .text-page-question-block .text-page-question-block-text {
    margin-left: 40px;
  }

  .feedback-form .text-page-question-block .text-page-question-block-text p {
    display: inline;
  }

  .feedback__menu {
    display: none;
  }

  .feedback {
    padding: 0;
  }
  .feedback__text h1 + p {
    margin-top: 3px;
    font-size: 13px;
  }

  .feedback-form__line .form-control {
    font-size: 14px;
    line-height: 1.5em;
    box-shadow: none;
    border-radius: 3px;
  }

  .feedback-form__text {
    padding-bottom: 10px;
  }

  .feedback-form__select {
    line-height: 32px;
  }

  .feedback-form__line .g-recaptcha {
    transform: scale(0.94);
    margin-left: -3%;
  }
}
