.footer {
  padding: 18px 0;
  font-size: 11px;
  font-weight: bold;
  color: #7d7d7d;
}

.footer__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer__copyright {
  color: #7d7d7d;
  text-decoration: none;
  padding: 5px;
}

.footer__link {
  color: #515151;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;

  &:hover {
    color: $color-pink;
  }
}

@media only screen and (max-width: $mobile-width) {
  .footer__wrap {
    padding: 0;
  }

  .footer__link {
    padding-left: 6px;
    padding-right: 6px;
  }
}
