.gallery-control {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    opacity: 0.7;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.gallery-prev {
    background: url(../img/step2/icons/gallery-prev.svg) no-repeat #000000 center center;
    background-size: cover;
    left: -66px;
}

.gallery-next {
    background: url(../img/step2/icons/gallery-next.svg) no-repeat #000000 center center;
    background-size: cover;
    right: -66px;
}

.gallery-control:hover,
.gallery-control:target {
    cursor: pointer;
    opacity: 1;
}

@media (min-width: 1024px) {
    .gallery-popup-bg.popup-flex .gallery-prev {
    position: fixed;
    left: calc(50% - 570px);
    top: 50vh;
   }
}


// @media only screen and (max-width: $tablet-width) {
//   .gallery-control-hidden {
//     display: none;
//   }
// }
