.gifts__auth {
  display: none;
}

.gifts__text {
  font-weight: 700;
  margin: 0;
}

.gifts__list {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.gifts__item {
  display: flex;
  margin: 0 0 3px 0;
}

.gifts__item:last-child {
  margin-bottom: 0;
}

.gifts__place {
  font-size: 13px;
  color: #000000;
  margin: 0 4px 0 0;
}

.gifts__link {
  font-size: 13px;
  font-weight: 700;
  color: #b52357;
  text-decoration: none;
}

.gifts__link:hover {
  color: #8b1330;
}

.gifts__button {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #b23068;
  text-decoration: none;
  text-align: center;
  max-width: 218px;
  margin: 0 0 0 94px;
  padding: 3px 10px;
  border-radius: 3px;
  border: 1px solid #dba6b8;
  outline: none;
  transition: $transition--primary;
}

.gifts__button:hover {
  background: #ba1d43;
  color: #ffffff;
  border-color: #9b0f30;
}

@media only screen and ($mobile-width) {
  .gifts__text {
    font-size: 13px;
  }

  .gifts__button {
    display: none;
  }

  .gifts__auth {
    display: flex;
  }

  .gifts__register {
    display: block;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    outline: none;
    background: linear-gradient(to bottom, #e82352 0%, #c11c43 100%);
    border: 1px solid #9b0f30;
    border-radius: 3px;
    padding: 6px 12px;
    margin: 0 5px 0 0;
    width: 200px;
  }

  .gifts__register:hover {
    background: #c11c43;
    border: 1px solid #942231;
  }

  .gifts__login {
    display: block;
    font-size: 15px;
    color: #303030;
    text-decoration: none;
    text-shadow: 0 1px 1px #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    background: linear-gradient(to bottom, #eaeaea 0%, #d1d1d1 100%);
    padding: 6px 12px 6px 12px;
    width: 59px;
  }

  .gifts__login:hover {
    color: #ffffff;
    background: #c11c43;
    border: 1px solid #942231;
  }
}
