.grid-background {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 78px 78px 78px 78px 78px 78px 78px 78px 78px 78px 78px 78px 78px;
  grid-gap: 1px;
  overflow: hidden;
  z-index: -99;

  &__item {
    width: 100%;
    height: 78px;
  }

  &__item-inner {
    padding-bottom: 100%;
    background: url("../img/grid-sprite.jpg");
    background-size: 12500% 100%;
  }

  &__item:nth-of-type(1) &__item-inner {
    background-position-x: 100%;
  }

  &__item:nth-of-type(2) &__item-inner {
    background-position-x: 200%;
  }

  &__item:nth-of-type(3) &__item-inner {
    background-position-x: 300%;
  }

  &__item:nth-of-type(4) &__item-inner {
    background-position-x: 400%;
  }

  &__item:nth-of-type(5) &__item-inner {
    background-position-x: 500%;
  }

  &__item:nth-of-type(6) &__item-inner {
    background-position-x: 600%;
  }

  &__item:nth-of-type(7) &__item-inner {
    background-position-x: 700%;
  }

  &__item:nth-of-type(8) &__item-inner {
    background-position-x: 800%;
  }

  &__item:nth-of-type(9) &__item-inner {
    background-position-x: 900%;
  }

  &__item:nth-of-type(10) &__item-inner {
    background-position-x: 1000%;
  }

  &__item:nth-of-type(11) &__item-inner {
    background-position-x: 1100%;
  }

  &__item:nth-of-type(12) &__item-inner {
    background-position-x: 1200%;
  }

  &__item:nth-of-type(13) &__item-inner {
    background-position-x: 1300%;
  }

  &__item:nth-of-type(14) &__item-inner {
    background-position-x: 1400%;
  }

  &__item:nth-of-type(15) &__item-inner {
    background-position-x: 1500%;
  }

  &__item:nth-of-type(16) &__item-inner {
    background-position-x: 1600%;
  }

  &__item:nth-of-type(17) &__item-inner {
    background-position-x: 1700%;
  }

  &__item:nth-of-type(18) &__item-inner {
    background-position-x: 1800%;
  }

  &__item:nth-of-type(19) &__item-inner {
    background-position-x: 1900%;
  }

  &__item:nth-of-type(20) &__item-inner {
    background-position-x: 2000%;
  }

  &__item:nth-of-type(21) &__item-inner {
    background-position-x: 2100%;
  }

  &__item:nth-of-type(22) &__item-inner {
    background-position-x: 2200%;
  }

  &__item:nth-of-type(23) &__item-inner {
    background-position-x: 2300%;
  }

  &__item:nth-of-type(24) &__item-inner {
    background-position-x: 2400%;
  }

  &__item:nth-of-type(25) &__item-inner {
    background-position-x: 2500%;
  }

  &__item:nth-of-type(26) &__item-inner {
    background-position-x: 2600%;
  }

  &__item:nth-of-type(27) &__item-inner {
    background-position-x: 2700%;
  }

  &__item:nth-of-type(28) &__item-inner {
    background-position-x: 2800%;
  }

  &__item:nth-of-type(29) &__item-inner {
    background-position-x: 2900%;
  }

  &__item:nth-of-type(30) &__item-inner {
    background-position-x: 3000%;
  }

  &__item:nth-of-type(31) &__item-inner {
    background-position-x: 3100%;
  }

  &__item:nth-of-type(32) &__item-inner {
    background-position-x: 3200%;
  }

  &__item:nth-of-type(33) &__item-inner {
    background-position-x: 3300%;
  }

  &__item:nth-of-type(34) &__item-inner {
    background-position-x: 3400%;
  }

  &__item:nth-of-type(35) &__item-inner {
    background-position-x: 3500%;
  }

  &__item:nth-of-type(36) &__item-inner {
    background-position-x: 3600%;
  }

  &__item:nth-of-type(37) &__item-inner {
    background-position-x: 3700%;
  }

  &__item:nth-of-type(38) &__item-inner {
    background-position-x: 3800%;
  }

  &__item:nth-of-type(39) &__item-inner {
    background-position-x: 3900%;
  }

  &__item:nth-of-type(40) &__item-inner {
    background-position-x: 4000%;
  }

  &__item:nth-of-type(41) &__item-inner {
    background-position-x: 4100%;
  }

  &__item:nth-of-type(42) &__item-inner {
    background-position-x: 4200%;
  }

  &__item:nth-of-type(43) &__item-inner {
    background-position-x: 4300%;
  }

  &__item:nth-of-type(44) &__item-inner {
    background-position-x: 4400%;
  }

  &__item:nth-of-type(45) &__item-inner {
    background-position-x: 4500%;
  }

  &__item:nth-of-type(46) &__item-inner {
    background-position-x: 4600%;
  }

  &__item:nth-of-type(47) &__item-inner {
    background-position-x: 4700%;
  }

  &__item:nth-of-type(48) &__item-inner {
    background-position-x: 4800%;
  }

  &__item:nth-of-type(49) &__item-inner {
    background-position-x: 4900%;
  }

  &__item:nth-of-type(50) &__item-inner {
    background-position-x: 5000%;
  }

  &__item:nth-of-type(51) &__item-inner {
    background-position-x: 5100%;
  }

  &__item:nth-of-type(52) &__item-inner {
    background-position-x: 5200%;
  }

  &__item:nth-of-type(53) &__item-inner {
    background-position-x: 5300%;
  }

  &__item:nth-of-type(54) &__item-inner {
    background-position-x: 5400%;
  }

  &__item:nth-of-type(55) &__item-inner {
    background-position-x: 5500%;
  }

  &__item:nth-of-type(56) &__item-inner {
    background-position-x: 5600%;
  }

  &__item:nth-of-type(57) &__item-inner {
    background-position-x: 5700%;
  }

  &__item:nth-of-type(58) &__item-inner {
    background-position-x: 5800%;
  }

  &__item:nth-of-type(59) &__item-inner {
    background-position-x: 5900%;
  }

  &__item:nth-of-type(60) &__item-inner {
    background-position-x: 6000%;
  }

  &__item:nth-of-type(61) &__item-inner {
    background-position-x: 6100%;
  }

  &__item:nth-of-type(62) &__item-inner {
    background-position-x: 6200%;
  }

  &__item:nth-of-type(63) &__item-inner {
    background-position-x: 6300%;
  }

  &__item:nth-of-type(64) &__item-inner {
    background-position-x: 6400%;
  }

  &__item:nth-of-type(65) &__item-inner {
    background-position-x: 6500%;
  }

  &__item:nth-of-type(66) &__item-inner {
    background-position-x: 6600%;
  }

  &__item:nth-of-type(67) &__item-inner {
    background-position-x: 6700%;
  }

  &__item:nth-of-type(68) &__item-inner {
    background-position-x: 6800%;
  }

  &__item:nth-of-type(69) &__item-inner {
    background-position-x: 6900%;
  }

  &__item:nth-of-type(70) &__item-inner {
    background-position-x: 7000%;
  }

  &__item:nth-of-type(71) &__item-inner {
    background-position-x: 7100%;
  }

  &__item:nth-of-type(72) &__item-inner {
    background-position-x: 7200%;
  }

  &__item:nth-of-type(73) &__item-inner {
    background-position-x: 7300%;
  }

  &__item:nth-of-type(74) &__item-inner {
    background-position-x: 7400%;
  }

  &__item:nth-of-type(75) &__item-inner {
    background-position-x: 7500%;
  }

  &__item:nth-of-type(76) &__item-inner {
    background-position-x: 7600%;
  }

  &__item:nth-of-type(77) &__item-inner {
    background-position-x: 7700%;
  }

  &__item:nth-of-type(78) &__item-inner {
    background-position-x: 7800%;
  }

  &__item:nth-of-type(79) &__item-inner {
    background-position-x: 7900%;
  }

  &__item:nth-of-type(80) &__item-inner {
    background-position-x: 8000%;
  }

  &__item:nth-of-type(81) &__item-inner {
    background-position-x: 8100%;
  }

  &__item:nth-of-type(82) &__item-inner {
    background-position-x: 8200%;
  }

  &__item:nth-of-type(83) &__item-inner {
    background-position-x: 8300%;
  }

  &__item:nth-of-type(84) &__item-inner {
    background-position-x: 8400%;
  }

  &__item:nth-of-type(85) &__item-inner {
    background-position-x: 8500%;
  }

  &__item:nth-of-type(86) &__item-inner {
    background-position-x: 8600%;
  }

  &__item:nth-of-type(87) &__item-inner {
    background-position-x: 8700%;
  }

  &__item:nth-of-type(88) &__item-inner {
    background-position-x: 8800%;
  }

  &__item:nth-of-type(89) &__item-inner {
    background-position-x: 8900%;
  }

  &__item:nth-of-type(90) &__item-inner {
    background-position-x: 9000%;
  }

  &__item:nth-of-type(91) &__item-inner {
    background-position-x: 9100%;
  }

  &__item:nth-of-type(92) &__item-inner {
    background-position-x: 9200%;
  }

  &__item:nth-of-type(93) &__item-inner {
    background-position-x: 9300%;
  }

  &__item:nth-of-type(94) &__item-inner {
    background-position-x: 9400%;
  }

  &__item:nth-of-type(95) &__item-inner {
    background-position-x: 9500%;
  }

  &__item:nth-of-type(96) &__item-inner {
    background-position-x: 9600%;
  }

  &__item:nth-of-type(97) &__item-inner {
    background-position-x: 9700%;
  }

  &__item:nth-of-type(98) &__item-inner {
    background-position-x: 9800%;
  }

  &__item:nth-of-type(99) &__item-inner {
    background-position-x: 9900%;
  }

  &__item:nth-of-type(100) &__item-inner {
    background-position-x: 10000%;
  }

  &__item:nth-of-type(101) &__item-inner {
    background-position-x: 10100%;
  }

  &__item:nth-of-type(102) &__item-inner {
    background-position-x: 10200%;
  }

  &__item:nth-of-type(103) &__item-inner {
    background-position-x: 10300%;
  }

  &__item:nth-of-type(104) &__item-inner {
    background-position-x: 10400%;
  }

  &__item:nth-of-type(105) &__item-inner {
    background-position-x: 10500%;
  }

  &__item:nth-of-type(106) &__item-inner {
    background-position-x: 10600%;
  }

  &__item:nth-of-type(107) &__item-inner {
    background-position-x: 10700%;
  }

  &__item:nth-of-type(108) &__item-inner {
    background-position-x: 10800%;
  }

  &__item:nth-of-type(109) &__item-inner {
    background-position-x: 10900%;
  }

  &__item:nth-of-type(110) &__item-inner {
    background-position-x: 11000%;
  }

  &__item:nth-of-type(111) &__item-inner {
    background-position-x: 11100%;
  }

  &__item:nth-of-type(112) &__item-inner {
    background-position-x: 11200%;
  }

  &__item:nth-of-type(113) &__item-inner {
    background-position-x: 11300%;
  }

  &__item:nth-of-type(114) &__item-inner {
    background-position-x: 11400%;
  }

  &__item:nth-of-type(115) &__item-inner {
    background-position-x: 11500%;
  }

  &__item:nth-of-type(116) &__item-inner {
    background-position-x: 11600%;
  }

  &__item:nth-of-type(117) &__item-inner {
    background-position-x: 11700%;
  }

  &__item:nth-of-type(118) &__item-inner {
    background-position-x: 11800%;
  }

  &__item:nth-of-type(119) &__item-inner {
    background-position-x: 11900%;
  }

  &__item:nth-of-type(120) &__item-inner {
    background-position-x: 12000%;
  }

  &__item:nth-of-type(121) &__item-inner {
    background-position-x: 12100%;
  }

  &__item:nth-of-type(122) &__item-inner {
    background-position-x: 12200%;
  }

  &__item:nth-of-type(123) &__item-inner {
    background-position-x: 12300%;
  }

  &__item:nth-of-type(124) &__item-inner {
    background-position-x: 12400%;
  }

  &__item:nth-of-type(125) &__item-inner {
    background-position-x: 12500%;
  }

  &__item:nth-of-type(126) &__item-inner {
    background-position-x: 12600%;
  }

  &__item:nth-of-type(127) &__item-inner {
    background-position-x: 12700%;
  }

  &__item:nth-of-type(128) &__item-inner {
    background-position-x: 12800%;
  }

  &__item:nth-of-type(129) &__item-inner {
    background-position-x: 12900%;
  }

  &__item:nth-of-type(130) &__item-inner {
    background-position-x: 13000%;
  }

  &__item:nth-of-type(131) &__item-inner {
    background-position-x: 13100%;
  }

  &__item:nth-of-type(132) &__item-inner {
    background-position-x: 13200%;
  }

  &__item:nth-of-type(133) &__item-inner {
    background-position-x: 13300%;
  }

  &__item:nth-of-type(134) &__item-inner {
    background-position-x: 13400%;
  }

  &__item:nth-of-type(135) &__item-inner {
    background-position-x: 13500%;
  }

  &__item:nth-of-type(136) &__item-inner {
    background-position-x: 13600%;
  }

  &__item:nth-of-type(137) &__item-inner {
    background-position-x: 13700%;
  }

  &__item:nth-of-type(138) &__item-inner {
    background-position-x: 13800%;
  }

  &__item:nth-of-type(139) &__item-inner {
    background-position-x: 13900%;
  }

  &__item:nth-of-type(140) &__item-inner {
    background-position-x: 14000%;
  }

  &__item:nth-of-type(141) &__item-inner {
    background-position-x: 14100%;
  }

  &__item:nth-of-type(142) &__item-inner {
    background-position-x: 14200%;
  }

  &__item:nth-of-type(143) &__item-inner {
    background-position-x: 14300%;
  }

  &__item:nth-of-type(144) &__item-inner {
    background-position-x: 14400%;
  }

  &__item:nth-of-type(145) &__item-inner {
    background-position-x: 14500%;
  }

  &__item:nth-of-type(146) &__item-inner {
    background-position-x: 14600%;
  }

  &__item:nth-of-type(147) &__item-inner {
    background-position-x: 14700%;
  }

  &__item:nth-of-type(148) &__item-inner {
    background-position-x: 14800%;
  }

  &__item:nth-of-type(149) &__item-inner {
    background-position-x: 14900%;
  }

  &__item:nth-of-type(150) &__item-inner {
    background-position-x: 15000%;
  }

  &__item:nth-of-type(151) &__item-inner {
    background-position-x: 15100%;
  }

  &__item:nth-of-type(152) &__item-inner {
    background-position-x: 15200%;
  }

  &__item:nth-of-type(153) &__item-inner {
    background-position-x: 15300%;
  }

  &__item:nth-of-type(154) &__item-inner {
    background-position-x: 15400%;
  }

  &__item:nth-of-type(155) &__item-inner {
    background-position-x: 15500%;
  }

  &__item:nth-of-type(156) &__item-inner {
    background-position-x: 15600%;
  }

  &__item:nth-of-type(157) &__item-inner {
    background-position-x: 15700%;
  }

  &__item:nth-of-type(158) &__item-inner {
    background-position-x: 15800%;
  }

  &__item:nth-of-type(159) &__item-inner {
    background-position-x: 15900%;
  }

  &__item:nth-of-type(160) &__item-inner {
    background-position-x: 16000%;
  }
}

.grid-background--desktop {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  & .grid-background__item {
    height: auto;
  }
}