.icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.icon:after,
.icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.icon:after {
  opacity: 1;
}

.icon:before {
  opacity: 0;
}

.icon-hover:after {
  opacity: 0;
}

.icon-hover:before {
  opacity: 1;
}

.icon-home {
  width: 13px;
  height: 13px;
  background: url("../img/step2/icons/home.svg") no-repeat;
  background-size: cover;
}

.icon-rules {
  width: 15px;
  height: 15px;
  background: url("../img/step2/icons/icon-rules.svg") no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.icon-prizes {
  width: 15px;
  height: 15px;
  background: url("../img/step2/icons/icon-prizes.svg") no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.icon-privacy {
  width: 14px;
  height: 15px;
  background: url("../img/step2/icons/icon-privacy.svg") no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.icon-support {
  width: 14px;
  height: 14px;
  background: url("../img/step2/icons/icon-support.svg") no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.icon-puzzle {
  width: 14px;
  height: 14px;
  background: url("../img/step2/icons/icon-puzzle.svg") no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.icon-smi {
  width: 13px;
  height: 13px;
  background: url("../img/step2/icons/icon-smi.svg") no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.icon-blog {
  width: 13px;
  height: 12px;
  background: url("../img/step2/icons/comment.svg") no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.icon-photogallery {
  width: 15px;
  height: 14px;
  background: url("../img/step2/icons/icon-photogallery.svg") no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.icon-friends {
  width: 10px;
  height: 10px;
  background: url(../img/step2/icons/user.svg) no-repeat;
  background-size: cover;
}
