.intro__background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.intro__background {
  padding: 50px 0;
  position: absolute;
  height: 373px;
  width: 100%;
  top: 0;
}

.intro__wrapper {
  position: relative;
}

.intro__registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}

.intro__registration-button {
  background: $gray-alto;
  background: -moz-linear-gradient(
    top,
    $color-amaranth 0%,
    $color-cardinal-dark 100%
  );
  background: -webkit-linear-gradient(
    top,
    $color-alabaster-light 0%,
    $gray-dusty 100%
  );
  background: linear-gradient(
    to bottom,
    $color-alabaster-light 0%,
    $silver 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-amaranth', endColorstr='$color-cardinal-dark', GradientType=0);
  border: 1px solid $gray-dusty;
  color: $color-mine-shaft-dark;
  font-weight: normal;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.intro__registration-button:hover {
  color: $color-white;
  background: $color-cardinal;
}

.intro__description {
  background: $gray-wild-sant;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 28px 20px 28px;
  text-align: center;
  max-width: 434px;
  margin: 0 auto;
  margin-top: 50px;
  color: $color-mine-shaft;
  position: absolute;
  left: calc(50% - 210px);
}

.intro__description h1 {
  margin: 0;
}

.intro__description a.intro__registration-button,
.main-form-buttons .intro__registration-button {
  background: $color-amaranth;
  background: -moz-linear-gradient(
    top,
    $color-amaranth 0%,
    $color-cardinal-dark 100%
  );
  background: -webkit-linear-gradient(
    top,
    $color-amaranth 0%,
    $color-cardinal-dark 100%
  );
  background: linear-gradient(
    to bottom,
    $color-amaranth 0%,
    $color-cardinal-dark 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-amaranth, endColorstr=$color-cardinal-dark, GradientType=0);
  border: 1px solid $color-tamarillo;
  color: $color-white;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  padding: 3px 12px 3px 12px;
  font-size: 15px;
  margin-bottom: 6px;
}

.intro__description a.intro__registration-button:hover,
.intro__registration-button:hover {
  background: $color-cardinal-dark;
  border: 1px solid $color-old-brick;
}

.intro__title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.intro__title span {
  color: $color-maroon-flush;
}

.intro__subtitle {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  display: block;
  font-weight: normal;
}

.intro__text {
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: -0.01em;
  margin: 0;
}

.intro__advantages {
  color: $color-mine-shaft;
  padding: 19px 30px 30px 30px;
  text-align: center;
  background: $color-alabaster;
  padding-top: 380px;
}

.intro__advantages-list {
  font-size: 0;
}

.intro__advantages-item {
  display: inline-block;
  vertical-align: top;
  width: 33.333333333333336%;
  font-size: 14px;
  position: relative;
}

.about-page-advantages-item:hover .intro__advantages-img {
  opacity: 0.7;
}

.intro__advantages-img {
  height: 145px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
}

.intro__advantages-img:before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
}

.intro__advantages-img img {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 auto;
}

.intro__advantages-item:hover .intro__advantages-img img {
  opacity: 0.7;
}

.intro__advantages-item:hover .intro__item-title {
  color: $color-maroon-flush;
}

.intro_absolute-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro__item-title {
  color: $color-mine-shaft-dark;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 1px 1px $color-white;
  max-width: 200px;
  margin: 0 auto;
}

.intro__item-title:hover {
  color: $color-maroon-flush;
}

@media (max-width: 550px) {
  .intro__advantages {
    padding: 12px 10px;
    text-align: left;
    padding-top: 380px;
  }
}

@media (max-width: 550px) {
  .intro__advantages-item {
    width: 100%;
    display: block;
    font-size: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 550px) {
  .intro__advantages-img {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    max-width: 50px;
  }
}

@media (max-width: 550px) {
  .intro__item-title {
    width: 75%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    max-width: none;
  }

  .intro__item-title br {
    display: none;
  }
}

.intro__advantages-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 19px;
}

@media only screen and (max-width: $mobile-width) {
  .intro__text {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.5em;
    text-align: left;
    letter-spacing: -0.01em;
  }

  .intro__description {
    max-width: 434px;
    text-align: left;
    padding: 14px 20px 30px 20px;
    //left: 3%;
    top: 1.8%;
    margin-top: 8%;
    //top: 0;
    left: 0;
    right: 0;
    height: auto;
  }

  .intro__advantages-title {
    font-size: 16px;
    //margin-bottom: 0;
    text-align: center;
    margin: 10px 0;
  }
}

.intro__advantages-subtitle {
  font-size: 17px;
  margin: 0;
}

@media only screen and (max-width: $mobile-width) {
  .intro__advantages-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
  }

  .intro__text {
    margin: 0 auto;
  }

  .intro__description {
    max-width: 434px;
    text-align: left;
    padding: 14px 20px 30px 20px;
    //left: 3%;
    top: 1.8%;
    margin-top: 6%;
    //top: 0;
    left: 0;
    right: 0;
    height: auto;
  }

  /* .intro__advantages-title {
    margin: 0;
  }
 */
  .intro__advantages {
    padding-top: 377px;
  }

  .intro__registration {
    margin-bottom: 6px;
    padding-top: 13px;
  }

  .intro__description a.intro__registration-button {
    padding: 4px 12px 3px 12px;
  }

  .intro__registration {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .intro__description {
    max-width: 93%;
    text-align: left;
    padding: 14px 20px 30px;
    margin-top: 10%;
    height: auto;
  }
}
