.profile-invitation {
  width: 100%;
  min-height: 500px;
}

.page__main-wrap--invitation {
  min-height: 630px;
}

.profile-invitation-alert-white {
  font-size: 14px;
}

.profile-invitation-alert-white {
  font-size: 14px;
}

.profile-invitation-header {
  display: flex;
  align-items: center;
}

.profile-invitation-header p {
  margin: 0;
}

.profile-tabs {
  background: #cc244c;
  color: #ffffff;
}

.profile-tabs-invitation {
  padding: 9px 20px 9px 20px;
}

.profile-invitation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92%;
}

// .profile-invitation-header div {
//     width: 50%;
// }

.profile-invitation-alert-white {
  color: #fff;
}

.profile-invitation-invite {
  text-align: right;
}

.profile-invitation-invite .invitefriend {
  color: #ffe477;
  font-weight: bold;
  cursor: pointer;
}

.profile-tabs .invitefriend {
  background: url(../img/step2/icons/invite-icon.svg);
  background-repeat: no-repeat;
  background-size: 20px 17px;
  border: none;
  padding: 2px 0 2px 27px;
  background-size: 20px 20px;
}

.profile-tabs .invitefriend:hover {
  opacity: 0.9;
}

.invite_friend_popup {
  margin-bottom: 2px;
  margin-right: -2px;
}

.profile-invitation-table {
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.profile-section-invitation {
  padding: 20px;
}

.profile-invitation-text {
  margin-bottom: 10px;
}

.table tr td,
.table tr th {
  padding: 5px 15px 5px 15px;
  height: 60px;
  box-sizing: border-box;
}

.table .table-header th {
  height: auto;
  font-size: 13px;
}

.table-header-email {
  width: 235px;
}

.table-cell-1 {
  width: 215px;
}

.table-profile-mail-desktop {
  width: 275px;
}

.profile-page-top-row,
.profile-tabs-row {
  margin-left: 0;
  margin-right: 0;
}

.table .table-invitation-registered:before {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/step2/icons/check-active.svg) no-repeat;
  background-size: cover;
  margin-right: 7px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
}

.table .table-profile-mail-mobile {
  // max-width: 120px;
  // display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table .table-header {
  background-color: #ececec;
  border-bottom: 3px solid #fff;
  text-align: left;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  color: #5a5a5a;
}

.table .table-header th {
  font-weight: normal;
  border: none;
}

.table .table-row {
  background-color: #f8f8f8;
  border-bottom: 1px solid #fff;
  text-align: left;
}

.table .table-row:last-child {
  border-bottom: none;
}

.table .table-profile-mail {
  color: #666666;
  cursor: default;
}

.table .table-timeinfo-time {
  display: inline-block;
  margin: 0;
  margin-right: 7px;
}

.table .table-timeinfo-date {
  display: inline-block;
  margin: 0;
}

.table .table-profile-name {
  font-size: 14px;
  color: #000;
  margin: 0;
  margin-top: 3px;
}

.table-invitation-send {
  margin: 0;
}

.table-profile-mail-mobile {
  display: none;
}

.table .table-invitation-send:before {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/step2/icons/message.svg) no-repeat;
  background-size: cover;
  margin-right: 7px;
}

.table .table-timeinfo {
  color: #cc3333;
  font-size: 11px;
  font-weight: bold;
}

.table a {
  color: #b8193f;
  text-decoration: none;
  transition: all 0.3s;
}

.profile-section-invitation h2 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
}

.profile-invitation-text p {
  margin: 0;
  line-height: 24px;
}

.profile-invitation-alert-icon {
  margin-left: 3px;
}

.profile-invitation-alert-icon:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url(../img/step2/icons/user.svg) no-repeat;
  background-size: cover;
  margin-right: 3px;
}

.button-invite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 33px;
  color: #333;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  border-image: initial;
  font-weight: normal;
  cursor: pointer;
}

.button__invite:hover {
  background: rgb(234, 234, 234);
}

.popup-bg-invite {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.popup-invite {
  background: #ffffff;
  width: 100%;
  position: relative;
  border-radius: 3px;
  max-width: 95%;
  margin: 0 auto;
}

.popup-bg-hint {
  display: none;
}

.popup-bg-invite--show {
  display: flex;
}

.popup-bg-invite--close {
  display: none;
}

.popup-small-invite {
  max-width: 523px;
  // margin-top: 209.5px;
}

.popup-close-invite {
  display: block;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 14px;
  height: 14px;
  background: url(../img/step2/icons/popup-close.svg) no-repeat 0 0;
  background-size: cover;
  z-index: 2;
}

.popup-small-invite .popup-close-invite {
  background: url(../img/step2/icons/popup-close-white.svg) no-repeat 0 0;
  background-size: cover;
}

.popup-header-invite {
  background: #c3234a;
  color: #fff;
  border-radius: 3px 3px 0 0;
  padding: 10px 35px 10px 15px;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.popup-header-invite-title-mobile {
  display: none;
  margin: 0;
}

.popup-header-invite-title-desktop {
  margin: 0;
}

.popup-body-invite {
  padding: 15px 15px 20px 15px;
}

.profile-invitation-form-label {
  margin: 0;
}

.profile-invitation-form {
  margin-bottom: 0;
}

.popup-invite .popup-intro {
  width: 100%;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.65em;
  color: #000;
  padding-bottom: 10px;
}

.profile-invitation-form-label {
  margin-bottom: 5px;
}

.profile-invitation-form-field {
  position: relative;
}

.popup-invite .form-control {
  width: 100%;
  color: #333;
  border: 1px solid #c3c3c3;
  background: #ffffff;
  height: 37px;
  padding: 5px 20px 5px 10px;
  outline: none;
  letter-spacing: 0.01em;
  border-radius: 3px;
  background-clip: padding-box;
}

.profile-invitation-form-field .profile-invitation-form-control {
  background: #f3f3f3;
  border: 1px solid #9a9a9a;
  padding-right: 10px;
}

.profile-invitation-form-field div {
  margin-bottom: 10px;
}

.profile-invitation-form-field .profile-invitation-form-control:last-child {
  margin-bottom: 0;
}

.profile-invitation-send {
  background: linear-gradient(
    to bottom,
    rgba(234, 234, 234, 1) 0%,
    rgba(207, 207, 207, 1) 100%
  );
  position: absolute;
  bottom: 0;
  right: 0;
  height: 37px;
  width: auto;
  max-width: 120px;
  border: 1px solid #9a9a9a;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  padding: 5px 15px;
  font-weight: bold;
}

.profile-invitation-send:hover,
.profile-invitation-send:target {
  color: #ffffff;
  background: #c62236;
  border-color: #9d0e1f;
}

.profile-invitation-form-control.error {
  border-color: #d1224b;
}

.table-profile-mail-desktop {
  display: block;
  font-size: 13px;
}

.table .table-profile-mail-desktop {
  display: flex;
  align-items: center;
}

.table-invitation-registered {
  font-size: 13px;
}

.table-profile-mail-mobile {
  display: none;
}

.invite_friend_tip_popup {
  display: none;
}

.table .table-header th {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #f1f1f1;
}

@media (max-width: 480px) {
  .popup-small-invite {
    max-width: 300px;
  }

  .popup-rating__form-submit {
    margin-left: 0;
  }

  .profile-invitation-invite .invitefriend {
    padding-right: 0;
    text-align: right;
    line-height: 21px;
  }
}

@media (max-width: 500px) {
  .table .table-header th {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .profile-invitation-alert-grey.mobile,
  .profile-invitation-alert-white.mobile {
    display: none;
  }
}

@media only screen and (max-width: $tablet-width) {
  .popup-bg-hint {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.8);
    display: none;
  }

  .page__main-wrap--invitation {
    min-height: auto;
  }

  .profile-section-invitation {
    padding: 15px 20px;
  }

  .popup-bg-hint--show {
    display: flex;
  }

  .table-cell-1 {
    width: 38%;
  }

  // .table-invitation {
  //   width: 29%;
  // }

  .popup-bg-hint--close {
    display: none;
  }

  .popup-hint {
    background: #ffffff;
    width: 100%;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
  }

  .popup-small-hint {
    max-width: 373px;
    // margin-top: 258px;
  }

  .popup-hint .popup-close {
    display: block;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 14px;
    height: 14px;
    background: url(../img/step2/icons/popup-close.svg) no-repeat 0 0;
    background-size: cover;
    z-index: 2;
  }

  .popup-small-hint .popup-close--dark {
    background: url(../img/step2/icons/popup-close.svg) no-repeat 0 0;
    background-size: cover;
  }

  .popup-hint .popup-title {
    background: #e8e8e8;
    border-bottom: 1px solid #dadada;
    font-size: 15px;
    color: #111111;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    padding: 10px 35px 10px 15px;
    position: relative;
    border-radius: 3px 3px 0 0;
    text-align: left;
  }

  .popup-hint .popup-body {
    padding: 15px 15px;
  }

  .popup-hint .popup-intro {
    width: 100%;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.65em;
    color: #000;
    padding-bottom: 10px;
  }

  .popup-hint .popup-intro p {
    margin: 0;
  }

  .profile-invitation-alert-white.desktop {
    display: none;
  }

  .profile-page-top {
    padding: 20px 0;
  }

  .profile-invitation-header {
    width: 98%;
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  .popup-small-invite {
    max-width: 373px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .table-cell-1 {
    width: 62%;
  }

  .profile-invitation-invite .invitefriend {
    font-weight: bold;
    text-align: right;
  }

  .table-header-email {
    display: none;
  }

  .table-profile-mail-mobile {
    display: block;
  }

  .table-profile-mail-desktop {
    display: none;
  }

  .profile-tabs-invitation {
    padding: 0;
  }

  .table .table-profile-mail-desktop {
    display: none;
  }

  .profile-invitation-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .profile-invitation-header div {
    display: flex;
    justify-content: flex-start;
    padding: 9px 20px;
  }

  // .profile-invitation-header div.profile-invitation-header__your-invite {
  //   width: 62%;
  // }

  // .profile-invitation-header div.profile-invitation-invite {
  //   width: 38%;
  // }

  .profile-invitation-header div.profile-invitation-header__your-invite {
    width: 50%;
  }

  .profile-invitation-header div.profile-invitation-invite {
    width: 50%;
  }

  .profile-invitation-table {
    margin-bottom: 20px;
  }

  .table .table-header-status {
    padding-right: 0;
  }

  .profile-invitation-text {
    margin-bottom: 10px;
  }

  .popup-header-invite-title-desktop {
    display: none;
  }

  .popup-header-invite-title-mobile {
    display: block;
  }

  .icon-send-message:after,
  .icon-send-message:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: none;
  }

  .profile-invitation-send-title {
    display: none;
  }

  .icon-send-message {
    width: 35px;
    height: 22px;
  }

  .icon-send-message {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .icon-send-message:after {
    background: url(../img/step2/icons/icon-send-message.svg) no-repeat;
    background-size: 40px 35px;
    background-position: -2px 50%;
    opacity: 1;
  }

  .profile-invitation-send:hover .icon-send-message::after,
  .profile-invitation-send:target .icon-send-message::after {
    background: url(../img/step2/icons/icon-send-message-white.svg) no-repeat;
    background-size: 40px 35px;
    background-position: -2px 50%;
    opacity: 1;
  }

  .popup-invite .form-control {
    height: 33px;
  }

  .profile-invitation-form-field .profile-invitation-form-control--email {
    padding-right: 60px;
  }

  .profile-invitation-send {
    height: 33px;
    padding: 5px 7px;
  }

  .table-header-hidden {
    display: none;
  }

  .profile-section-invitation {
    padding: 0;
  }

  .icon-info {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }

  .icon-info:after,
  .icon-info:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
  }
  .icon-info:after {
    background: url(../img/step2/icons/info.svg) no-repeat;
    background-size: cover;
    background-size: 15px;
    opacity: 1;
  }

  .profile-invitation-tip {
    cursor: pointer;
    background: none;
    border: none;
  }

  .table tr td,
  .table tr th {
    padding: 5px 20px;
  }

  .invite_friend_tip_popup {
    display: inline-block;
  }

  .table td {
    vertical-align: middle;
  }

  .table-header-your-invitation {
    text-transform: capitalize;
  }

  .profile-invitation-text {
    display: none;
  }

  .profile-invitation-bottom {
    padding: 15px 20px;
  }

  .profile-invitation-table {
    margin-bottom: 0;
  }

  .popup-small-hint {
    max-width: 300px;
  }

  .profile-invitation-invite {
    padding-left: 10px;
  }

  .table-invitation-registered {
    text-transform: capitalize;
    display: flex;
  }

  .table-invitation-registered-hidden {
    display: none;
  }

  .profile-invitation-alert-white-hidden {
    display: none;
  }
}

@media only screen and (max-width: 359px) {
  .table-cell-1 {
    width: 50%;
  }

  .profile-invitation-header div {
    display: flex;
    justify-content: flex-start;
    padding: 9px 20px;
  }

  .profile-invitation-header div.profile-invitation-header__your-invite {
    width: 50%;
  }

  .profile-invitation-header div.profile-invitation-invite {
    width: 50%;
  }

  .table .table-profile-mail-mobile {
    max-width: 120px;
  }

  .profile-invitation-header div:nth-child(2) {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .profile-invitation-header div:nth-child(2) {
    padding-left: 5px;
  }
}
