.login-socials {
  padding: 0 25px 0 25px;
}

.login-socials__description {
  font-size: 13px;
  color: #666666;
  margin: 0 0 10px 0;
}

.login-socials__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.login-socials__item {
  margin: 0 10px 0 0;
}

.login-socials__item:last-child {
  margin-right: 0;
}

.login-socials__button {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-socials__button:hover {
  opacity: 0.7;
}

.login-socials__button--vk {
  background: rgba(0, 0, 0, 0) url("https://ulogin.ru/version/3.0/img/providers-32-flat.png?version=img.3.0.1") no-repeat scroll 0 -36px / 32px auto;
}

.login-socials__button--gmail {
  background: rgba(0, 0, 0, 0) url("../img/login/icon-gmail.svg") 0 0 / 32px no-repeat;
}

.login-socials__button--mailru {
  background: rgba(0, 0, 0, 0) url("https://ulogin.ru/version/3.0/img/providers-32-flat.png?version=img.3.0.1") no-repeat scroll 0 -104px / 32px auto;
}

.login-socials__button--fb {
  background: rgba(0, 0, 0, 0) url("https://ulogin.ru/version/3.0/img/providers-32-flat.png?version=img.3.0.1") no-repeat scroll 0 -138px / 32px auto;
}

@media only screen and ($mobile-width) {
  .login-socials__description {
    text-align: center;
    margin: 0 0 13px 0;
  }

  .login-socials {
    padding: 0 30px 0 25px;
  }

  .login-socials__list {
    justify-content: center;
  }
}
