.login {
  padding: 26px 0 25px;
}

.login--hidden {
  display: none;
}

.login__main {
  margin: 0 0 16px 0;
  padding: 0 25px 18px;
  border-bottom: 1px solid #dadada;
}

@media only screen and ($mobile-width) {
  .login__main {
    padding: 0 14px 12px;
    margin: 0 0 13px 0;
  }
}
