.main-sidebar {
  width: 252px;
  border-bottom: none;
  padding-left: 56px;
  padding-right: 10px;
  padding-top: 5px;
  background: $color-alabaster;
}

.main-sidebar__menu,
.main-sidebar__submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-sidebar__menu-item {
  margin-bottom: 10px;
}

.main-sidebar__menu-link,
.main-sidebar__submenu-link {
  color: #303030;
  text-decoration: none;
  display: block;
  padding: 4px 0;

  &:hover,
  &.active {
    background-color: transparent;
    color: $color-cardinal-light;
  }

  &.active {
    color: #848484;
  }
}

.main-sidebar__menu-link {
  font-size: 15px;
  letter-spacing: 0.01em;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 5px);
  }

  &--home {
    &::before {
      width: 13px;
      height: 15px;
      background-image: url("../img/main-sidebar/home.svg");
    }
  }

  &--list {
    &::before {
      width: 15px;
      height: 15px;
      background-image: url("../img/main-sidebar/list.svg");
    }
  }

  &--prize {
    &::before {
      width: 15px;
      height: 15px;
      background-image: url("../img/main-sidebar/prize.svg");
    }
  }

  &--photo {
    &::before {
      width: 15px;
      height: 14px;
      background-image: url("../img/main-sidebar/photo.svg");
    }
  }

  &--castle {
    &::before {
      width: 14px;
      height: 15px;
      background-image: url("../img/main-sidebar/castle.svg");
    }
  }

  &--message {
    &::before {
      width: 15px;
      height: 14px;
      background-image: url("../img/main-sidebar/message.svg");
    }
  }

  &--message-write {
    &::before {
      width: 14px;
      height: 14px;
      background-image: url("../img/main-sidebar/message-write.svg");
    }
  }

  &--puzzle {
    &::before {
      width: 14px;
      height: 14px;
      background-image: url("../img/main-sidebar/puzzle.svg");
    }
  }

  &--rating {
    &::before {
      width: 11px;
      height: 11px;
      margin-right: 2px;
      background-image: url("../img/main-sidebar/rating.svg");
    }
  }

  &--blog {
    &::before {
      width: 13px;
      height: 12px;
      background-image: url("../img/main-sidebar/comment.svg");
    }
  }

  &--take-notes {
    &::before {
      width: 13px;
      height: 13px;
      background-image: url("../img/main-sidebar/take-notes.svg");
    }
  }

  &--logout {
    &::before {
      width: 13px;
      height: 12px;
      background-image: url("../img/main-sidebar/enter-arrow.svg");
    }
  }
}

.main-sidebar__submenu-link {
  font-size: 13px;
}

.main-sidebar__menu-item-count {
  color: $color-text-pink;
}

.main-sidebar__menu-item-amount {
  color: $color-text-pink;
  font-weight: bold;
  font-size: 11px;
  padding: 1px 4px;
  border-radius: 4px;
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
  text-shadow: 0 1px 1px #ffffff;
  border: 1px solid #cfcfcf;
}

.main-sidebar__submenu-item-amount {
  top: -0.3em;
  color: $color-text-pink;
  font-size: 0.85em;
  line-height: 10px;
  height: 1em;
  display: inline-block;
  font-weight: normal;
}

@media only screen and (max-width: $tablet-width) {
  .main-sidebar {
    display: none;
  }
}
