.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 50%;
  width: 100%;
}

.main-footer__socials {
  display: none;
}

.main-footer__content {
  display: flex;
  padding: 18px 0;
  max-width: 504px;
  margin-left: auto;
  justify-content: center;
}

.main-footer__initials {
  font-size: 11px;
  font-weight: 700;
  color: #7d7d7d;
  margin: 0 21px 0 0;
}

.main-footer__initials a {
  text-decoration: none;
  color: #7d7d7d;
  cursor: pointer;
}

.main-footer__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__item {
  margin: 0 9px 0 0;
}

.main-footer__link {
  display: block;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  color: #515151;
  transition: $transition--primary;
}

.main-footer__link:hover {
  color: #ba1d43;
}

@media only screen and ($tablet-width) {
  .main-footer {
    position: static;
    max-width: 100%;
    padding: 18px 0;
  }

  .main-footer__socials {
    display: block;
    max-width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .main-footer__content {
    max-width: 330px;
    margin: 0 auto;
  }
}

@media only screen and ($mobile-width) {
  .main-footer {
    display: none;
  }
}
