.modal-video {
  max-width: 738px;
  width: 100%;
  border-radius: 3px;
  overflow-x: hidden;
}

.modal-video__frame {
  display: block;
  height: 415px;
  width: 100%;
  border: none;
}

@media only screen and ($mobile-width) {
  .modal-video {
    max-width: 90%;
    min-width: 300px;
  }
}
