.page {
  box-shadow: 0 1px 1px #d4d4d4;

  &--chat {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
  }
}

.page__wrap {
  display: flex;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  // border-left: 1px solid #eaeaea;
  // border-right: 1px solid #eaeaea;
  border-left: none;
  border-right: none;

  &--winners {
    border: none;
  }
}

.page__sidebar {
  flex-shrink: 0;
  width: 252px;
}

.page__main-wrap {
  display: flex;
  width: calc(100% - 252px);
  flex-grow: 1;
  background-color: #ffffff;

  &--block {
    display: block;
  }
}

.page__main-wrap--rating > section {
  min-height: calc(100vh - 107px);
}

.page__main-wrap--man {
  min-height: 750px;
}

.page__main {
  flex-grow: 1;
}

.page__main-header {
  background-color: $color-pink;
  color: #ffffff;
}

.page__main-heading {
  margin: 0;
  padding: 9px 18px 10px;
  text-align: center;
  font-size: 14px;
}

.page__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page__list--voting,
.page__list--top10 {
  border-left: 1px solid #dedede;
}

.page__item {
  padding: 13px;

  &:hover {
    background-color: #ededed;
  }
}

.page__col {
  border-top: none;
  width: 220px;
  flex-shrink: 0;
  background-color: #efefef;
}

@media only screen and (max-width: $mobile-width) {
  .page {
    padding: 0;
  }

  .page__main-wrap--man {
    min-height: auto;
  }

  .page__main-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
  }

  .page__main-wrap {
    flex-direction: column-reverse;
  }

  .page__main-wrap--block .profile-nav {
    padding-left: 0;
  }

  .page__col {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .page__participants,
  .page__viewers {
    width: 50%;
  }

  .page__list--voting,
  .page__list--top10 {
    border-left: none;
  }
}
