.photogallery {
  width: 75%;
  top: 0;
  padding: 0 5px;
  box-sizing: border-box;
  min-height: 950px;
}

.photogallery__slider {
  position: relative;
}

.photogallery__slider .slider__understratum {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
  z-index: 2;
}

.photogallery__slider .slider__img-counter {
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.photogallery__slider .slider__text {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: $color-white;
  padding: 0 15px;
  margin: 0;
}

.photogallery__slider .slider__counter {
  display: inline-block;
  font-size: 13px;
  color: $silver;
  padding: 4px 11px;
  border: 0;
  border-radius: 10em;
  background: rgba(0, 0, 0, 0.2);
}

.photogallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.photogallery__item {
  position: relative;
  display: block;
  width: 16.667%;
  border: 1px solid $color-white;
}

.photogallery__item .photogallery__item-active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(48, 48, 48, 0.65);
  opacity: 0;
  transition: opacity 0.35s;
}

.photogallery__item .photogallery__item-active:hover {
  opacity: 1;
  transition: opacity 0.35s;
}

.photogallery__item .photogallery__item-active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  background: url("../img/step2/icons/plus.svg") no-repeat;
  background-size: cover;
}

.photogallery__item .photogallery__item-visited {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(48, 48, 48, 0.65);
  opacity: 1;
}

.photogallery__item .photogallery__item-visited::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  background: url("../img/step2/icons/eye.svg") no-repeat;
  background-size: cover;
  transition: all 0.35s;
}

.photogallery__item .photogallery__item-visited:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -19px;
  margin-top: -19px;
  width: 38px;
  height: 38px;
  background: url("../img/step2/icons/plus.svg") no-repeat;
  background-size: cover;
  transition: 0.8s ease;
}

.photogallery__item img {
  width: 100%;
  display: block;
}

.photogallery__button {
  width: 100%;
  border: 0;
  border-radius: 0;
  background: $gray-mercury;
  font-size: 14px;
  color: $gray-dove;
  padding: 9px 15px 14px;
  transition: all 0.3s;
  line-height: 14px;
}

.photogallery__button:hover,
.photogallery__button:focus {
  color: $color-tamarillo;
  cursor: pointer;
}

.photogallery__title {
  background: $color-hibiscus;
  display: block;
  text-align: center;
}

.photogallery__title h1 {
  margin: 0;
  color: $color-white;
  font-size: 17px;
  font-weight: normal;
  padding: 6px 10px 6px 10px;
}

@media (min-width: 491px) and (max-width: $mobile-width) {
  .photogallery__item {
    width: calc(100% / 3);
  }
}

@media (max-width: 490px) {
  .photogallery__item {
    width: calc(100% / 2);
  }
}

@media only screen and (max-width: $tablet-width) {
  .photogallery {
    width: 100%;
    min-height: initial;
  }
}

@media only screen and (max-width: $mobile-width) {
  .photogallery {
    width: 100%;
    padding: 0;
  }

  .photogallery__slider .slider__text {
    position: relative;
    bottom: 0;
    color: $color-mine-shaft;
    padding: 10px 15px;
    line-height: 1.35em;
  }

  .photogallery__slider .slider__counter {
    padding: 6px 5px 3px 5px;
  }

  .photogallery__item {
    width: calc(100% / 3);
  }
}
