.photo-map__popup-bg {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.photo-map__popup-bg--show {
  display: flex;
}

.photo-map__popup {
  background: $color-white;
  width: 100%;
  position: relative;
  border-radius: 3px;
  max-width: 95%;
  margin: 0 auto;
}

.photo-map__location {
  width: 680px;
  max-width: 680px;
}

.photo-map__popup-close {
  display: block;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 14px;
  height: 14px;
  background: url(../img/step2/icons/popup-close.svg) no-repeat 0 0;
  background-size: cover;
  z-index: 2;
}

.photo-map__popup-header {
  background: $gray-mercury;
  border-bottom: 1px solid $color-alto;
  font-size: 15px;
  color: $gray-god;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  padding: 10px 35px 10px 15px;
  position: relative;
  border-radius: 3px 3px 0 0;
  text-align: left;
}

.photo-map__block {
  padding: 0;
}

.photo-map__block-map {
  height: calc(100vh - 240px);
}

.photo-map__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $gray-mercury;
  border-top: 1px solid $color-alto;
  padding: 20px 16px;
  border-radius: 0 0 3px 3px;
}

.photo-map__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 33px;
  color: $color-mine-shaft;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  border-image: initial;
  font-weight: normal;
  cursor: pointer;
}

.photo-map__popup--show {
  display: flex;
}

.photo-map__popup--close {
  display: none;
}

@media only screen and (max-width: $mobile-width) {
  .photo-map__location {
    width: 90%;
    max-height: 99vh;
  }

  .photo-map__block-map {
    overflow: hidden;
  }

  .photo-map__popup--position {
    margin-top: 10px !important;
  }

  .photo-map__popup-header--mobile {
    display: none;
  }
}
