.photo-add__popup {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.8);
}

.photo-add--show {
  display: flex;
  align-items: center;
}

.photo-add__popup-message {
  background: $color-white;
  width: 100%;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 523px;
  max-height: 175px;
}

.photo-add__popup-close {
  display: block;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 14px;
  height: 14px;
  background: url(../img/step2/icons/popup-close.svg) no-repeat 0 0;
  background-size: cover;
  z-index: 2;
}

.photo-add__popup-close {
  background: url(../img/step2/icons/popup-close.svg) no-repeat 0 0;
  background-size: cover;
}

.photo-add__popup-title {
  background: $gray-mercury;
  border-bottom: 1px solid $color-alto;
  font-size: 15px;
  color: $gray-god;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  padding: 10px 35px 10px 15px;
  position: relative;
  border-radius: 3px 3px 0 0;
  text-align: left;
  min-height: 41px;
}

.photo-add__popup-body {
  padding: 15px;
  min-height: 143px;
}

.photo-add__popup-intro {
  width: 100%;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.65em;
  color: $color-black;
  margin-bottom: 10px;
}

.photo-add__popup-intro p,
.photo-add__popup-link p {
  margin: 0;
  font-size: 14px;
}

.photo-add__popup-link {
  width: 100%;
  display: block;
  padding: 0;
}

.photo-add__popup-button {
  background: $gray-alto;
  background: linear-gradient(
    to bottom,
    $gray-gallery-light 0%,
    $gray-alto-light 100%
  );
  border: 1px solid $gray-silver;
  color: $color-mine-shaft-dark;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background-clip: padding-box;
  outline: none;
  transition: none;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  line-height: 32px;
  padding: 0;
}

.photo-add__popup-button--back {
  font-size: 13px;
}

.photo-add__popup-button:hover {
  color: $color-white;
  background: $color-cardinal-light-more;
  text-shadow: none;
  border-color: $color-cardinal-light-more;
  cursor: pointer;
}

.photo-add__popup-button:focus {
  color: $color-white;
  background: $color-cardinal-light-more;
  text-shadow: none;
  border-color: $color-cardinal-light-more;
  cursor: pointer;
}

.popup-add-close {
  display: none;
}

.popup-add-show {
  display: block;
}

@media only screen and (max-width: $mobile-width) {
  .photo-add__popup-message {
    max-width: 373px;
    max-height: 185px;
  }
}
