.photo {
  width: 75%;
  top: 0;
  padding: 0 5px;
  box-sizing: border-box;
  min-height: 750px;
  margin: 0;
}

.photo .icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.photo .icon::before {
  opacity: 0;
}

.photo .icon::after {
  opacity: 1;
}

.photo .icon::after,
.photo .icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
}

.photo .icon-rating-profile {
  width: 9px;
  height: 10px;
  background: url("../img/step2/icons/rating.svg") no-repeat;
  background-size: cover;
}

.photo .icon-photos {
  width: 14px;
  height: 14px;
  background: url("../img/step2/icons/photos.svg") no-repeat;
  background-size: cover;
  margin-right: 5px;
  margin-top: 3px;
}

.photo .icon-enter {
  width: 16px;
  height: 16px;
  background: url("../img/step2/icons/enter.svg") no-repeat;
  background-size: cover;
}

@media only screen and (max-width: $tablet-width) {
  .photo {
    width: 100%;
  }
}

@media only screen and (max-width: $mobile-width) {
  .photo {
    display: none;
    padding: 0;
  }

  .photo-none {
    display: none;
  }

  .photo .icon-geo-tag {
    width: 13px;
    height: 13px;
  }

  .photo .icon-geo-tag::after {
    background: url("../img/step2/icons/icon-geo-tag.svg") no-repeat;
    background-size: cover;
    opacity: 1;
  }

  .photo .icon-upplace-gray {
    width: 15px;
    height: 15px;
    background: url("../img/step2/icons/upplace-gray.svg") no-repeat;
    background-size: cover;
  }

  .photo .icon-addvoices-gray {
    width: 15px;
    height: 15px;
    background: url("../img/step2/icons/addvoices_grey.svg") no-repeat;
    background-size: cover;
  }

  .photo .icon-placemark {
    width: 9px;
    height: 12px;
    background: url("../img/step2/icons/placemark.svg") no-repeat;
    background-size: cover;
    margin-top: 3px;
    margin-right: 1px;
  }

  .photo .icon-rating-profile-mobile {
    width: 8px;
    height: 9px;
    background: url("../img/step2/icons/rating-mobile.svg") no-repeat;
    background-size: cover;
  }
}
