.popup {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.8);

  .button {
    font-weight: bold;
    font-size: 13px;
    padding: 7px 10px 7px 10px;
    background: linear-gradient(to bottom, #eaeaea 0%, #d1d1d1 100%);
    border-color: #bfbfbf;
    color: #303030;
    text-shadow: 0px 1px 1px #ffffff;
    border: 1px solid #999999;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    outline: none;
    display: inline-block;

    &:hover {
      background: #cc244c;
      border-color: #cc244c;
      color: #ffffff;
      text-shadow: none;
    }
  }
}

.popup-show {
  display: block !important;
}

.popup__wrap {
  background: #ffffff;
  width: 100%;
  max-height: 100vh;
  position: relative;
  border-radius: 3px;
  max-width: 524px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.popup__close {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("../img/step2/icons/popup-close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 12px;
  top: 14px;
  z-index: 1;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.popup__header {
  background: #e8e8e8;
  border-bottom: 1px solid #dadada;
  font-size: 15px;
  color: #111111;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  padding: 10px 35px 10px 15px;
  position: relative;
  border-radius: 3px 3px 0 0;
  text-align: left;
}

.popup-up-profile {
  .popup__header {
    background: #c3234a;
    color: #fff;
  }

  .popup__close {
    background: url("../img/step2/icons/popup-close-white.svg") no-repeat 0 0;
    background-size: cover;
  }
}

.popup-help {
  .popup__wrap {
    max-width: 680px;
  }

  .popup__header {
    font-weight: normal;
  }

  p {
    margin: 0;
  }

  ol {
    margin-top: 0;
  }
}

.popup__main {
  padding: 15px 15px;

  & > *:first-child {
    margin-top: 0;
  }
}

.popup-rating__sum {
  display: flex;
  background-color: #f6f6f6;
  font-size: 12px;
  margin-top: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.popup-rating__item {
  color: #999999;
}

.popup-rating__form {
  display: flex;
  width: 100%;
}

.popup-rating__form p {
  margin-right: 5px;
}
.popup-purse__flex {
  display: flex;
  border-top: 1px solid #eeeeee;
  margin-top: 15px;
}

.popup-rating__position-number {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.01em;
  padding-left: 10px;
  font-size: 12px;
  margin-left: 8px;
}

.popup-rating__position-number::before {
  background: url("../img/main-sidebar/ratingred.svg");
  fill: #cc244c;
  content: "";
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top: 9%;
  right: 85%;
  width: 10px;
  height: 10px;
}

.popup-rating__info {
  margin-left: 11px;
}

.popup-rating__img {
  width: 67px;
  height: 67px;
}

.popup-rating__position {
  padding-right: 20px;
}

.popup-rating__cursor {
  font-weight: bold;
  font-size: 13px;
  padding-top: 6px;
}

.popup-rating__checkbox {
  position: relative;
  padding: 10px 0 10px 17px;
  font-size: 12px;
  color: #999;
  margin: 0;
  padding-bottom: 11px;
  cursor: pointer;
}

.popup-rating__checkbox::before {
  position: absolute;
  top: 13px;
  left: 0;
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #c3c3c3;
}

.popup-rating__check:checked ~ .popup-rating__checkbox::after {
  position: absolute;
  top: 15px;
  left: 2px;
  content: "";
  width: 8px;
  height: 5px;
  border-left: 1px solid #737373;
  border-bottom: 1px solid #737373;
  transform: rotate(320deg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.popup-rating__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup-rating__form-input {
  border: 1px solid #bdbdbd;
  width: 112px;
  color: #333;
  height: 37px;
  padding: 5px 10px 5px 5px;
  outline: none;
  letter-spacing: 0.01em;
  border-radius: 3px 0 0 3px;
  text-align: right;
}

@media only screen and (max-width: $mobile-width) {
  .popup__wrap {
    max-width: 373px;
  }

  .popup-rating__form p {
    height: 37px;
  }

  .hiddenMobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  /*  .popup__wrap {
    max-width: 300px;
  } */

  /*  .popup-rating__form-submit {
    margin-left: 0;
  } */
}

@media (max-width: 480px) {
  .popup-rating__form-submit {
    margin-left: 0;
  }
}
