.popup-purse__wrap ul {
	padding: 0;
	margin: 0;

	list-style: none;
}

.popup-purse__header {
  display: flex;
  height: 42px;
  overflow: hidden;

  color: #FFFFFF;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #bb1e44;
}

.popup-purse__header ul {
	width: calc(100% - 38px);
	display: flex;
	// justify-content: space-between;

  // background-color: #bb1e44;
  border-top-left-radius: 3px;
}

.popup-purse__nav-item {
	width: 33.1%;
	padding: 7px 0;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 14px;
  // background-color: #bb1e44;
  transition: all 0.3s;
  cursor: default;

	// &--active {
	// 	font-size: 17px;
  //   font-weight: 700;
	// 	background-color: #bb1e44;
	// }

	&--pay {
		&::before {
			content: '';
			width: 11px;
			height: 11px;
			margin-right: 6px;

			background-image: url("../img/step2/icons/pay-burger.svg");
			background-size: cover;
    }
  }

  &:first-child {
    border-top-left-radius: 3px;
  }

	// &:hover,
	// &:focus {
	// 	opacity: 0.8;
	// }

	// &:active {
	// 	opacity: 0.9;
	// }
}

.popup-purse__nav-item-icon {
	padding-left: 22px;
	position: relative;

	font-weight: 700;

	&::before {
		content: '';
    position: absolute;
		left: 4px;
		top: 4px;
		width: 13px;
		height: 13px;

		background-image: url("../img/wallet-white.svg");
    background-size: cover;
	}
}

.popup-purse__header button {
  width: 38px;
  height: 42px;
	margin: 0;
	padding: 0;

	border: none;
	outline: none;
	background-color: transparent;
	background-image: url("../img/step2/icons/popup-close-white.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35%;
  cursor: pointer;
  border-top-right-radius: 3px;
  transition: opacity 0.3s;

  &:hover,
	&:focus {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.9;
	}
}

.popup-purse__pay-item {
	display: flex;
	justify-content: space-between;
	padding: 19px 61px 19px 27px;

	background: #ececec;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 1px;
}

.popup-purse__pay-item div {
	display: flex;
	align-items: center;
}

.popup-purse__pay-item div img {
	margin-right: 9px;
}

.popup-purse__pay-item div span {
	color: #333333;
	font-size: 14px;
	font-weight: 700;
}

.popup-purse__pay-item a {
	padding: 6px;
	min-width: 95px;
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(to bottom, #f7f7f7 0%, #cccccc 100%);
	border: 1px solid #999999;
	border-radius: 3px;
	color: #303030;
	font-weight: 700;
  	font-size: 13px;
  	transition: all 0.3s;

	&:hover,
	&:focus {
	color: #ffffff;
	background: #a7183b;
	border: 1px solid #a7183b;
	}

	&:target {
	border: 1px solid #a7183b;
	}

	&:active {
    background: #d5234e;
	}
}

.popup-purse__nav-item--pay {
 	display: none;
}

.popup-purse__footer p {
	margin: 0;
	padding: 10px 15px;
  padding-left: 17px;
  padding-right: 0;
	font-size: 12px;
	color: #999999;
}

@media only screen and (max-width: $mobile-width) {
  .popup-purse__header {
    height: 40px;
  }

  .popup-purse__header button {
    height: 40px;
  }

	.popup-purse__hidden-mob {
		display: none;
	}

	.popup-purse__nav-item {
		width: 32%;
		padding: 10px 0;

		background-color: #bb1e44;

		&--pay {
			width: 67.5%;
			justify-content: flex-start;
			padding-left: 15px;

			background-color: #c3234a;
		}
	}

	.popup-purse__pay-item a {
		min-width: 80px;
	}

	.popup-purse__pay-item {
		padding: 10px;
	}

	.popup-purse__footer p {
		font-size: 10px;
    line-height: 14px;
	}
}




