.privacy .text-page__wrapper p > a,
.privacy .text-page__wrapper li > a {
  color: $color-cardinal-light;
}

.privacy .text-page__wrapper p > a:hover,
.privacy .text-page__wrapper li > a:hover {
  color: $color-claret;
}

.privacy .navigation__list li > a {
  color: $color-mine-shaft;
}

.privacy {
  width: 75%;
  top: 0;
  padding: 0 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: $tablet-width) {
  .privacy {
    width: 100%;
  }
}

@media only screen and (max-width: $mobile-width) {
  .privacy {
    padding: 0;
  }
}
