.prizes {
  padding: 5px;
  width: 100%;
}

.prizes__top {
  background-image: url("../img/prizes/bg-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #ad1c53;
  text-align: center;
  color: #ededed;
  padding-top: 15px;
}

.prizes__heading {
  margin: 0;
  font-size: 20px;
}

.prizes__top-text {
  margin: 0;
  font-size: 16px;
}

.prizes__slider {
  margin-top: 20px;

  .slick-slide {
    display: flex;
  }

  .slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      font-size: 0;
      padding: 0 7px 15px;
    }

    button {
      padding: 0;
      width: 13px;
      height: 13px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      background-color: #ffffff;
    }

    .slick-active {
      button {
        background-color: #ff005b;
      }
    }
  }
  
  .slick-track {
    display: flex;
  }
}

.prizes__slider-item {
  flex-direction: column;
  align-items: center;
  height: 220px;
  text-decoration: none;
  outline: none;
}

.prizes__slider-item-heading {
  font-size: 15px;
  font-weight: bold;
  color: #ededed;
  margin: 0;
}

.prizes__slider-item-text {
  font-size: 15px;
  font-weight: bold;
  margin: 0;

  &--gold {
    color: #ffc569;
  }

  &--silver {
    color: #dbd6d8;
  }

  &--bronze {
    color: #ff9d5c;
  }
}

.prizes__slider-img {
  margin-top: auto;
}

.prizes__about {
  background-color: $color-text-pink-dark;
  color: #ffffff;
  background-image: url("../img/prizes/bg-about.jpg");
  background-size: 100% 100%;
  display: flex;
  overflow: hidden;
}

.prizes__about-text-wrap {
  padding: 25px 28px;
  padding-right: 0;
}

.prizes__about-heading {
  font-size: 17px;
  margin: 0;
}

.prizes__about-text {
  margin: 10px 0;

}

.prizes__about-img-wrap {
  width: 360px;
  flex-shrink: 0;
  margin: 25px 10px;
  position: relative;
  z-index: 1;
  text-align: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/prizes/backlight.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
}

.prizes__about-img-logo {
  margin: 0 auto;
}

.prizes__nav {
  background-color: #e1e1e1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prizes__nav-link {
  color: #3c3c3c;
  text-decoration: none;
  display: block;
  padding: 8px 25px;

  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: #999999;
  }
}

.prizes__about-prize {
  background-color: #8c1941;
  color: #ffffff;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    background-image: linear-gradient(to bottom, #6d1332, #8c1941);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.prizes__item {
  display: flex;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, #ff478d, #cc244c);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &--gold {
    .prizes__item-heading,
    .prizes__card {
      color: #ffc569;
    }

    .prizes__card::before {
      background-image: url("../img/prizes/golden-crown.png");
    }
  }

  &--silver {
    .prizes__item-heading,
    .prizes__card {
      color: #dadada;
    }

    .prizes__card::before {
      background-image: url("../img/prizes/silver-crown.png");
    }
  }

  &--bronze {
    .prizes__item-heading,
    .prizes__card {
      color: #ff9e5d;
    }

    .prizes__card::before {
      background-image: url("../img/prizes/bronze-crown.png");
    }
  }
}

.prizes__item-text-wrap {
  padding: 20px 30px;
}

.prizes__item-heading {
  margin-top: 0;
  font-size: 17px;
}

.prizes__card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 76px;
  padding-right: 20px;
  border-radius: 3px;
  border: solid 1px rgba(255, 157, 0, 0.1);
  background-color: rgba(201, 201, 201, 0.05);
  font-size: 13px;
  font-weight: bold;
  line-height: 1.7;
  min-height: 78px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}

.prizes__card--bronze {
  padding-right: 15px;
}

.prizes__item-img-wrap {
  width: 305px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-image: url("../img/prizes/backlight-ellipse.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  img {
    object-fit: contain;
  }
}

.prizes__footer {
  background-color: #8c1941;
  color: #ffffff;
  padding: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prizes__footer-text {
  color: #d5b0be;
  font-size: 13px;
  letter-spacing: -0.1px;
}

// .prizes__social-list {
//   list-style: none;
//   margin: 0;
//   margin-left: 10px;
//   padding: 0;
//   display: flex;
// }

// .prizes__social-link {
//   display: block;
//   padding: 3px;
//   flex-shrink: 0;
//   width: 38px;
//   height: 38px;

//   &:hover {
//     opacity: 0.5;
//   }
// }

.prizes__footer .ya-share2__container_size_m .ya-share2__item {
  margin-right: 6px;

  &:hover {
    opacity: 0.5;
  }
}

.prizes__footer .ya-share2__item_service_vkontakte .ya-share2__icon {
  width: 32px;
  height: 32px;
  padding: 3px;

  background: url("../img/socials/icon--vk-gray.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.prizes__footer .ya-share2__item_service_facebook .ya-share2__icon {
  width: 32px;
  height: 32px;
  padding: 3px;

  background: url("../img/socials/icon--fb-gray.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.prizes__footer .ya-share2__item_service_whatsapp .ya-share2__icon {
  width: 32px;
  height: 32px;
  padding: 3px;

  background: url("../img/socials/icon--whats-app-gray.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.prizes__footer .ya-share2__item .ya-share2__badge {
  background-color: transparent;
}


@media only screen and (max-width: $tablet-width) {
  .prizes__info {
    display: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .prizes {
    padding: 0 1px;
  }

  .prizes__heading {
    font-size: 17px;
  }

  .prizes__top-text {
    font-size: 14px;
  }

  .prizes__about {
    flex-direction: column;
  }

  .prizes__about-text-wrap {
    padding: 19px 15px;
  }

  .prizes__about-img-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 7px;
    margin-top: 0;
  }

  .prizes__nav {
    padding-left: 15px;
    padding-right: 15px;
  }

  .prizes__nav-item--more,
  .prizes__nav-hidden-mobile {
    display: none;
  }

  .prizes__nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .prizes__item {
    flex-direction: column;
    align-items: center;
  }

  .prizes__item-text-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .prizes__item-img-wrap {
    width: 100%;
    margin-top: 0;

    &::before {
      width: 100%;
      left: 50%;
    }
  }

  .prizes__card {
    font-weight: normal;
  }

  .prizes__footer {
    flex-direction: column;
    align-items: center;
  }
}
