.profile-info-list-item-name-interest-btn {
  color: $gray-dusty-light;
  font-size: 12px;
  line-height: 1em;
  border-top: 1px solid $gray-alto-dark-very;
  padding-top: 6px;
  margin-top: 10px;
}

.profile-info-list-item-name-interest-btn--hide {
  color: $gray-dusty-light;
  font-size: 12px;
  line-height: 1em;
  border-top: 1px solid $gray-alto-dark-very;
  padding-top: 6px;
  margin-top: 10px;
  display: none;
}

.profile-info-list-item-name-interest-btn:hover {
  color: $gray-dove;
  cursor: pointer;
  transition: all 0.3s;
}

@media only screen and (max-width: $mobile-width) {
  .profile-info-list-item-name-interest-btn {
    display: none;
  }

  .profile-info-list-item-name-interest {
    display: none;
  }

  .profile__info--man {
    min-height: 89px;
  }
}
