.profile-title {
  padding: 8px 18px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  position: relative;
}

.profile-title--download {
  justify-content: flex-start;
  margin-top: 5px;
}

.profile-title--download span {
  margin-right: 5px;
  margin-top: 2px;
}

.profile-title__heading {
  font-size: 15px;
  margin: 0;
  margin-right: 113px;

  &::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
    width: 13px;
    height: 12px;
    background-image: url("../img/main-sidebar/comment.svg");
  }

  &--achievement::before {
    background-image: url("../img/step2/icons/empty-star.svg");
  }

  &--achievements {
    font-weight: bold !important;
    &::before {
      content: none;
    }
  }
}

.profile-title__checkbox {
  position: absolute;
  opacity: 0;
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 26px;
  height: 17px;

  &:checked + .profile-title__checkbox-label {
    &::before {
      background-color: #e4e4e4;
    }

    &::after {
      left: 14px;
      background-color: $color-pink;
      border: 1px solid $color-pink-dark;
    }
  }
}

.profile-title__checkbox-label {
  position: relative;
  padding-left: 33px;
  font-size: 12px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 15px;
    border-radius: 13px;
    background: #f0f0f0;
    border: 1px solid #b2b2b2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 9px;
    height: 9px;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    background: #ffffff;
    transition: 0.2s;
  }
}

.profile-title__filter {
  &--achievements {
    margin-left: 50%;
  }
}

.profile-title__button {
  color: #303030;
  background: linear-gradient(#fefefe 0%, #dbdbdb 100%);
  font-weight: bold;
  font-size: 12px;
  padding: 2px 10px;
  height: 26px;
  border-radius: 3px;
  border: 1px solid rgb(181, 181, 181);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: #ffffff;
    background: #c62236;
    border-color: #9d0e1f;
  }
}

.profile-title__amount {
  display: inline;
  color: #cc244c;
  font-weight: bold;
  font-size: 12px;
}

.profile-title__help {
  position: relative;
  margin-right: 75px;
  margin-left: auto;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: 100%;
    left: 0;
    position: absolute;
  }
}

.profile-title__help:hover ~ .profile-title__help-wrap {
  visibility: visible;
  opacity: 1;
}

.profile-title__help--top {
  margin-top: 3px;
}

.profile-title__help--right {
  padding-right: 35px;
}

.profile-title__help--video {
  margin-top: 1px;
}

.profile-title__help-btn {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #333333;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #8f8f8f;
    background-image: url("../img/profile/info.svg");
    background-repeat: no-repeat;
    background-size: 2px 8px;
    background-position: center;
    vertical-align: bottom;
    margin-right: 5px;
  }
}

.profile-title__help--video {
  margin-left: auto;
  margin-right: 75px;
}

.profile-title__help-wrap {
  position: absolute;
  top: calc(100% - 3px);
  right: 85px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  width: 312px;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 2;
  font-size: 13px;
  line-height: 1.54;
  color: #333333;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border-radius: 5px;
  padding-left: 25px;

  & > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.profile-title__triangle {
  visibility: hidden;
  opacity: 0;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    z-index: 10;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    right: 62px;
    left: 0;
    margin: auto;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    bottom: -19px;
    transition: 0.2s;
  }

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 16px;
    background-color: #ffffff;
    right: 52px;
    left: 0;
    margin: auto;
    position: absolute;
    bottom: -23px;
    z-index: 11;
    transition: 0.2s;
  }
}

.profile-title__help:hover .profile-title__triangle {
  visibility: visible;
  opacity: 1;
}

.profile-title .profile-title__help {
  margin-left: auto;
  margin-right: 75px;
}

.profile-title__filter-achievements {
  display: none;
}

@media only screen and (max-width: $mobile-width) {
  .profile-title__mobile-hidden {
    display: none;
  }

  .profile-title__triangle {
    visibility: hidden;
    opacity: 0;

    &::after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-color: #ffffff;
      z-index: 10;
      transform: translateY(-50%) rotate(45deg);
      position: absolute;
      right: 10px;
      left: 0;
      margin: auto;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
      bottom: -16px;
    }

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 16px;
      background-color: #ffffff;
      right: 0;
      left: 0;
      margin: auto;
      position: absolute;
      bottom: -20px;
      z-index: 11;
    }
  }

  .profile-title__heading {
    margin-right: 70px;
    font-weight: normal;
  }

  .profile-title__help {
    padding: 0;
  }

  .profile-title__help-btn {
    font-size: 0;
    height: 21px;
    width: 32px;
    margin-right: 10px;

    &::before {
      margin: 0;
    }
  }

  .profile-title__checkbox-label {
    padding-left: 31px;
  }

  .profile-title__checkbox-label--full {
    padding-left: 32px;
  }

  .profile-title__help-wrap {
    width: calc(100% - 27%);
    max-width: 312px;
    right: 0;
    left: 16%;
    margin: 0 auto;
    top: calc(100% - 4px);
    padding-left: 25px;
  }

  .profile-title__filter {
    margin-bottom: 2px;
  }

  .profile-title__filter-blog {
    margin-left: 5px;
  }

  .profile-title__help {
    margin-top: 2px;
  }

  .profile-title {
    position: relative;
    padding: 8px 15px;
  }
}

@media only screen and (max-width:767px) {
  .profile-title__help-wrap {
    top: 88%;
  }
}

@media only screen and (max-width: 550px) {
  .profile-title__heading {
    margin-right: 3%;
  }

  .profile-title .profile-title__help {
    margin-left: auto;
    margin-right: 3%;
  }

  .profile-title__help {
    margin-left: auto;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 365px) {
  .profile-title__button-desktop {
    display: none;
  }

  .profile-title__button--plus {
    background: none;
    width: 26px;
    height: 26px;
    background-image: url("../img/step2/icons/iconfinder-plus.svg"),
      linear-gradient($color-white-dark 0%, $gray-alto-light-very 100%);
    background-repeat: no-repeat;
    background-size: 25px 15px, 100%;
    background-position-y: center;

    &:hover {
      width: 26px;
      height: 26px;
      background-image: url("../img/step2/icons/iconfinder-plus-active.svg"),
        linear-gradient(
          $color-cardinal-dark-more 0%,
          $color-cardinal-dark-more 100%
        );
      background-repeat: no-repeat;
      background-size: 25px 15px, 100%;
      background-position-y: center;
      border-color: $color-tamarillo-dark;
    }
  }
}
