.profile-main {
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid #ffffff;
  margin-bottom: 5px;
}

.profile-main__left-column,
.profile-main__right-column {
  width: 189px;
  flex-shrink: 0;
  line-height: 1.65;
}

.profile-main__left-column--man,
.profile-main__right-column--man {
  line-height: 1.5;
}

.profile-main__location--man {
  line-height: 1.65;
  margin-bottom: 14px;
}

.profile-main__img {
  width: 100%;
  vertical-align: bottom;
}

.profile-main__img-wrap--man {
  width: 186px;
  height: 186px;
}

.profile-main__age--man {
  margin-top: 0;
  margin-bottom: 20px;
}

.profile-main__like,
.profile-main__raise-profile,
.profile-main__increase-rating {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #303030;
  text-decoration: none;
  border-top: 1px solid #ffffff;
  padding: 5px 15px;
  transition: 0.2s;

  &:hover {
    color: $color-text-pink;
    background-color: #e4e4e4;
  }
}

.profile-main__like--man {
  padding: 7px 15px;
  background-color: $color-alabaster;
  margin-right: 3px;
}

.profile-main__items {
  display: none;
}

.profile-main__items--active {
  display: block;
}

.profile-main__interest-list--man-mobile {
  display: none;
}

.profile-main__like,
.profile-main__raise-profile,
.profile-main__increase-rating {
  svg {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    margin-right: 5px;
    margin-bottom: 3px;
    fill: #afafaf;
    transition: 0.2s;
  }

  &:hover svg {
    fill: $color-pink;
  }
}

.profile-main__head-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.profile-main__wrap-content {
  padding: 10px 13px;
}

.profile-main__wrap-content--man {
  padding: 10px 11px;
}

.profile-main__footer {
  margin-top: auto;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
}

.profile-main__button-grey {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 33px;
  color: $color-mine-shaft;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  border-image: initial;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}

.profile-main__wrap-content .profile-main__button-grey {
  color: $color-mine-shaft;
}

.profile-main__button-grey--big {
  height: 37px;
  margin-bottom: 10px;
}

.profile-main__button-grey:hover {
  background: rgb(234, 234, 234);
}

.profile-main__footer-link {
  font-size: 13px;
  color: #505050;
  text-decoration: none;
  transition: 0.2s;
  padding: 6px 10px;

  &:hover {
    color: $color-text-pink;
  }
}

.profile-main__right-column {
  border-left: 1px solid #ffffff;
  color: #666666;
  font-size: 13px;
  padding: 10px 19px;

  & > *:first-child {
    margin-top: 0;
  }
}

.profile-main__right-column-link {
  display: block;
  color: #333333;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: $color-text-pink;
  }
}

.profile-main__interest {
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: normal;
  font-size: 13px;
}

.profile-main__interest--man {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-between;
  align-items: center;
  color: $color-black;
}

.profile-main__interest-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-main__interest-link {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 4px 10px;
  padding-left: 22px;
  position: relative;
  transition: 0.2s;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 6px;
  }

  &--auto {
    &::before {
      background-image: url("../img/interests/auto.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/auto-red.svg");
    }
  }

  &--autostop {
    &::before {
      background-image: url("../img/interests/autostop.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/autostop-red.svg");
    }
  }

  &-actor {
    &::before {
      background-image: url("../img/interests/actor.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/actor-red.svg");
    }
  }

  &--activity {
    &::before {
      background-image: url("../img/interests/activity.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/activity-red.svg");
    }
  }

  &--business {
    &::before {
      background-image: url("../img/interests/business.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/business-red.svg");
    }
  }

  &--fans {
    &::before {
      background-image: url("../img/interests/fans.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/fans-red.svg");
    }
  }

  &--video {
    &::before {
      background-image: url("../img/interests/video.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/video-red.svg");
    }
  }

  &--visage {
    &::before {
      background-image: url("../img/interests/visage.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/visage-red.svg");
    }
  }

  &--knitting {
    &::before {
      background-image: url("../img/interests/knitting.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/knitting-red.svg");
    }
  }

  &--cottage {
    &::before {
      background-image: url("../img/interests/cottage.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/cottage-red.svg");
    }
  }

  &--diet {
    &::before {
      background-image: url("../img/interests/diet.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/diet-red.svg");
    }
  }

  &--design {
    &::before {
      background-image: url("../img/interests/design.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/design-red.svg");
    }
  }

  &--house {
    &::before {
      background-image: url("../img/interests/house.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/house-red.svg");
    }
  }

  &--pets {
    &::before {
      background-image: url("../img/interests/pets.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/pets-red.svg");
    }
  }

  &--household {
    &::before {
      background-image: url("../img/interests/household.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/household-red.svg");
    }
  }

  &--friendship {
    &::before {
      background-image: url("../img/interests/friendship.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/friendship-red.svg");
    }
  }

  &--woman-health {
    &::before {
      background-image: url("../img/interests/woman-health.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/woman-health-red.svg");
    }
  }

  &--painting {
    &::before {
      background-image: url("../img/interests/painting.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/painting-red.svg");
    }
  }

  &--health {
    &::before {
      background-image: url("../img/interests/health.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/health-red.svg");
    }
  }

  &--meets {
    &::before {
      background-image: url("../img/interests/meets.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/meets-red.svg");
    }
  }

  &--game {
    &::before {
      background-image: url("../img/interests/game.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/game-red.svg");
    }
  }

  &--lang {
    &::before {
      background-image: url("../img/interests/lang.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/lang-red.svg");
    }
  }

  &--yoga {
    &::before {
      background-image: url("../img/interests/yoga.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/yoga-red.svg");
    }
  }

  &--art {
    &::before {
      background-image: url("../img/interests/art.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/art-red.svg");
    }
  }

  &--actor {
    &::before {
      background-image: url("../img/interests/actor.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/actor-red.svg");
    }
  }

  &--it {
    &::before {
      background-image: url("../img/interests/it.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/it-red.svg");
    }
  }

  &--career {
    &::before {
      background-image: url("../img/interests/career.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/career-red.svg");
    }
  }

  &--cinema {
    &::before {
      background-image: url("../img/interests/cinema.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/cinema-red.svg");
    }
  }

  &--plant {
    &::before {
      background-image: url("../img/interests/plant.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/plant-red.svg");
    }
  }

  &--comfort {
    &::before {
      background-image: url("../img/interests/comfort.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/comfort-red.svg");
    }
  }

  &--beauty {
    &::before {
      background-image: url("../img/interests/beauty.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/beauty-red.svg");
    }
  }

  &--cooking {
    &::before {
      background-image: url("../img/interests/cooking.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/cooking-red.svg");
    }
  }

  &--culture {
    &::before {
      background-image: url("../img/interests/culture.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/culture-red.svg");
    }
  }

  &--culturaltraditions {
    &::before {
      background-image: url("../img/interests/culturaltraditions.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/culturaltraditions-red.svg");
    }
  }

  &--literature {
    &::before {
      background-image: url("../img/interests/literature.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/literature-red.svg");
    }
  }

  &--personalgrowth {
    &::before {
      background-image: url("../img/interests/personalgrowth.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/personalgrowth-red.svg");
    }
  }

  &--communitytheater {
    &::before {
      background-image: url("../img/interests/communitytheater.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/communitytheater-red.svg");
    }
  }

  &--makeup {
    &::before {
      background-image: url("../img/interests/makeup.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/makeup-red.svg");
    }
  }

  &--fashiontrends {
    &::before {
      background-image: url("../img/interests/fashiontrends.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/fashiontrends-red.svg");
    }
  }

  &--music {
    &::before {
      background-image: url("../img/interests/music.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/music-red.svg");
    }
  }

  &--games {
    &::before {
      background-image: url("../img/interests/games.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/games-red.svg");
    }
  }

  &--science {
    &::before {
      background-image: url("../img/interests/science.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/science-red.svg");
    }
  }

  &--communication {
    &::before {
      background-image: url("../img/interests/communication.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/communication-red.svg");
    }
  }

  &--wear-boots {
    &::before {
      background-image: url("../img/interests/wear-boots.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/wear-boots-red.svg");
    }
  }

  &--origami {
    &::before {
      background-image: url("../img/interests/origami.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/origami-red.svg");
    }
  }

  &--swim {
    &::before {
      background-image: url("../img/interests/swim.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/swim-red.svg");
    }
  }

  &--buy {
    &::before {
      background-image: url("../img/interests/buy.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/buy-red.svg");
    }
  }

  &--psychology {
    &::before {
      background-image: url("../img/interests/psychology.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/psychology-red.svg");
    }
  }

  &--fun {
    &::before {
      background-image: url("../img/interests/fun.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/fun-red.svg");
    }
  }

  &--religion {
    &::before {
      background-image: url("../img/interests/religion.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/religion-red.svg");
    }
  }

  &--sex {
    &::before {
      background-image: url("../img/interests/sex.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/sex-red.svg");
    }
  }

  &--solarium {
    &::before {
      background-image: url("../img/interests/solarium.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/solarium-red.svg");
    }
  }

  &--sport {
    &::before {
      background-image: url("../img/interests/sport.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/sport-red.svg");
    }
  }

  &--style {
    &::before {
      background-image: url("../img/interests/style.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/style-red.svg");
    }
  }

  &--dance {
    &::before {
      background-image: url("../img/interests/dance.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/dance-red.svg");
    }
  }

  &--technology {
    &::before {
      background-image: url("../img/interests/technology.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/technology-red.svg");
    }
  }

  &--childcare {
    &::before {
      background-image: url("../img/interests/childcare.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/childcare-red.svg");
    }
  }

  &--fitness {
    &::before {
      background-image: url("../img/interests/fitness.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/fitness-red.svg");
    }
  }

  &--photo {
    &::before {
      background-image: url("../img/interests/photo.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/photo-red.svg");
    }
  }

  &--photography {
    &::before {
      background-image: url("../img/interests/photography.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/photography-red.svg");
    }
  }

  &--values {
    &::before {
      background-image: url("../img/interests/values.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/values-red.svg");
    }
  }

  &--readingbooks {
    &::before {
      background-image: url("../img/interests/readingbooks.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/readingbooks-red.svg");
    }
  }

  &--esoteric {
    &::before {
      background-image: url("../img/interests/esoteric.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/esoteric-red.svg");
    }
  }

  &--museum {
    &::before {
      background-image: url("../img/interests/museum.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/museum-red.svg");
    }
  }

  &--household {
    &::before {
      background-image: url("../img/interests/household.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/household-red.svg");
    }
  }

  &--friendship {
    &::before {
      background-image: url("../img/interests/friendship.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/friendship-red.svg");
    }
  }

  &--health {
    &::before {
      background-image: url("../img/interests/health.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/health-red.svg");
    }
  }

  &--dating {
    &::before {
      background-image: url("../img/interests/dating.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/dating-red.svg");
    }
  }

  &--career {
    &::before {
      background-image: url("../img/interests/activity.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/activity-red.svg");
    }
  }

  &--cinema {
    &::before {
      background-image: url("../img/interests/cinema.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/cinema-red.svg");
    }
  }

  &--comfort {
    &::before {
      background-image: url("../img/interests/comfort.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/comfort-red.svg");
    }
  }

  &--cooking {
    &::before {
      background-image: url("../img/interests/cooking.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/cooking-red.svg");
    }
  }

  &--boarg-games {
    &::before {
      background-image: url("../img/interests/games.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/games-red.svg");
    }
  }

  &--vacation {
    &::before {
      background-image: url("../img/interests/friendship.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/friendship-red.svg");
    }
  }

  &--entertainment {
    &::before {
      background-image: url("../img/interests/entertainment.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/entertainment-red.svg");
    }
  }

  &--family {
    &::before {
      background-image: url("../img/interests/sex.svg");
    }

    &:hover::before {
      background-image: url("../img/interests/sex-red.svg");
    }
  }

  &:hover {
    color: $color-text-pink;
  }
}

@media only screen and (max-width: $mobile-width) {
  .profile-main__left-column,
  .profile-main__footer,
  .profile-main__location,
  .profile-main__age {
    display: none;
  }

  .profile-main {
    flex-direction: column;
  }

  .profile-main__right-column {
    width: 100%;
    padding: 0;
  }

  .profile-main__interest {
    background: #f1f1f1;
    padding: 4px 13px;
    font-size: 15px;
    margin-top: 0;
  }

  .profile-main__interest--man {
    justify-content: flex-start;
    align-items: center;
    padding: 8px 2px 8px 15px;
    margin: 0 -2px;
  }

  .profile-main__interest-item {
    width: calc(50% - 10px);
  }

  .profile-main__interest-link {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .profile-main__interest-link::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 2px;
}

  .profile-main__wrap-content {
    padding-bottom: 4px;
  }

  .profile-main__wrap-content--man {
    padding: 10px 12px 11px 15px;
    background-color: $color-white;
  }

  .profile-main__wrap-content--man p {
    margin: 0;
  }

  .profile-main__interest-list {
    padding: 5px 13px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
  }

  .profile-main__interest-list--man-desktop {
    display: none;
  }

  .profile-main__interest-list--man-mobile {
    display: flex;
  }

  .profile-main__interest-item {
    margin-left: 10px;
    font-size: 14px;
  }

  .profile-main__interest-item--man a {
    padding-bottom: 8px;
    padding-top: 0;
    font-size: 13px;
  }

  .profile-main__interest-list--man {
    background: $color-white;
    padding: 14px 12px 2px 12px;
    font-size: 13px;
  }
}
