.profile-nav {
  background-color: $color-pink;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 13px;
  padding: 0 14px;
}

.profile-nav--man {
  padding: 0;
  background-color: $color-maroon-flush;
  justify-content: space-between;
}

.profile-nav--man .status-offline {
  color: $color-carissma;
}

.profile-nav--man .icon {
  margin-top: 4px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.profile-nav__rating,
.profile-nav__friends {
  margin: 9px 7px 10px;
  width: 49px;
  white-space: nowrap;
  overflow: hidden;
  color: currentColor;

  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2px;
  }
}

.profile-nav__rating::before {
  background-image: url("../img/profile/rating-white.svg");
}

.profile-nav__friends::before {
  background-image: url("../img/profile/user-white.svg");
}

.profile-nav__status {
  color: #fbdde4;
  padding: 2px;
  margin-bottom: 1px;
  text-transform: capitalize;
}

.profile-nav__status--man {
  width: 25%;
  text-align: left;
  padding-left: 35px;
}

.profile-nav__status--man a {
  padding-right: 20px;
  color: $color-white;
}

.profile-nav__status--man span {
  margin-right: 5px;
}

.profile-nav__list {
  list-style: none;
  margin: 0;
  margin-right: auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.profile-nav__write-message {
  width: 25%;
}

.profile-nav__write-message-btn {
  display: block;
  text-align: left;
  line-height: 38px;
  padding-left: 16px;
  font-size: 13px;
  color: #ffffff;
  transition: all 0.3s;
}

.profile-nav__write-message-btn:hover {
  background: $color-brick-red;
}

.profile-nav__write-message .icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.profile-nav__write-message .icon-write-message {
  width: 13px;
  height: 13px;
  background: url("../img/step2/icons/write-message.svg") no-repeat;
  background-size: cover;
  margin-top: 12px;
  margin-left: 5px;
}

.profile-nav__message-btn {
  color: #ffffff;
  padding: 10px;

  &:hover {
    background-color: #be2943;
  }

  .icon {
    background-image: url("../img/write-message.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 2px;
  }
}

.profile-nav__list--man {
  padding: 0;
  width: 50%;
}

.profile-nav__link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 9px 6px;
  transition: 0.2s;
  position: relative;

  &:hover {
    background-color: $color-pink-dark;
  }

  &--active {
    background-color: $color-pink-dark;
    color: #f3c3ce;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -4px;
      bottom: -1px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4px 5px 4px;
      border-color: transparent transparent #ffffff transparent;
    }
  }
}

.profile-nav__link--man {
  padding: 9px 6px;
}

.profile-nav__item--restrict {
  opacity: 0.5;

  a {
    cursor: default;
    pointer-events: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .profile-nav__rating,
  .profile-nav__friends,
  .profile-nav__status,
  .profile-nav__message-btn {
    display: none;
  }

  .profile-nav {
    padding: 0;
    font-size: 14px;
  }

  .profile-nav__list {
    padding: 1px 8px;
    height: 39px;
    overflow: hidden;
  }

  .profile-nav__write-message {
    display: none;
  }

  .profile-nav__list--man {
    width: 100%;
  }
}
