.profile {
  width: 100%;
  padding: 0 5px;
}

.profile__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px 11px 25px 20px;
}

.profile__name-link {
  color: #333333;
  text-decoration: none;

  &:hover {
    color: $color-pink;
  }
}

.profile__description-statistic {
  display: none;
  // margin-right: 12px;
}

.profile__description-statistic a {
  font-size: 12px;
  color: grey;
}

.profile__description-statistic .icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 6px;
  margin-right: 3px;
}

.profile__description-statistic .icon-friends-gray {
  width: 10px;
  height: 10px;
  background: url(../img/step2/icons/user-gray.svg) no-repeat;
  background-size: cover;
}

.profile__name {
  font-size: 17px;
  margin: 0;
}

.profile__img-wrap,
.profile__description-row,
.profile__control {
  display: none;
}

.profile__rating-block {
  color: #666666;
  font-size: 13px;
  border: 1px solid #dedede;
  display: flex;
  align-items: center;
  padding: 3px 16px;
  border-radius: 3px;
}

.profile__rating-text {
  margin: 0;
  margin-right: 22px;
  font-weight: bold;
}

.profile__rating-text--man {
  margin-right: 0;
}

.profile__position {
  color: $color-pink;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;

  &:hover {
    color: $gray;
  }
}

.profile__message-btn {
  display: none;
}

@media only screen and (max-width: $tablet-width) {
  .profile {
    padding: 0 6px;
  }

  .profile__header {
    padding: 20px 10px 20px 20px;
  }
}

@media only screen and (max-width: $tablet-width) {

  .profile__header--man {
      padding: 20px 20px;
      padding-right: 10px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .profile {
    padding: 0;
  }

  .profile__header {
    padding: 0;
  }

  .profile__img-wrap,
  .profile__description-row,
  .profile__control {
    display: block;
  }

  .profile__description--man {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile__description-statistic {
    display: inline-block;
  }

  .profile__rating-block {
    display: none;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 11px 10px;
    width: 100%;
  }

  .profile__name {
    font-size: 14px;
  }

  .profile__description-row {
    margin-bottom: 5px;
  }

  .profile__img-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }

  .profile .profile__position {
    width: 48px;
  }

  .profile__img-wrap {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .profile__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile__status {
    position: absolute;
    top: 52px;
    right: 7px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #e32554;

    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
    }

    &--online {
      &::before {
        content: none;
      }
    }
  }

  .profile__location {
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    transition: 0.2s;

    &::before {
      content: "";
      display: inline-block;
      width: 9px;
      height: 12px;
      margin-bottom: 3px;
      vertical-align: middle;
      background-image: url("../img/profile/location.svg");
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 4px;
    }

    &:hover {
      color: $color-text-pink;

      &::before {
        background-image: url("../img/profile/location-red.svg");
      }
    }
  }

  .profile__age {
    font-size: 12px;
    color: #666666;
  }

  .profile__position,
  .profile__rating,
  .profile__friends {
    font-size: 12px;
    margin-right: 7px;
    font-weight: bold;
    color: #888888;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: $color-text-pink;
    }
  }

  .profile__rating,
  .profile__friends {
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 3px;
      margin-right: 4px;
      width: 10px;
      height: 10px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .profile__rating {
    &::before {
      background-image: url("../img/profile/rating.svg");
    }

    &:hover::before {
      background-image: url("../img/profile/rating-red.svg");
    }
  }

  .profile__friends {
    &::before {
      background-image: url("../img/profile/user.svg");
    }

    &:hover::before {
      background-image: url("../img/profile/user-red.svg");
    }
  }

  .profile__control {
    width: 100%;
    position: relative;
    display: flex;

    & > * {
      width: 50%;
      border-top: 1px solid #dadada;
      background: #ebebeb;
      padding: 7px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #303030;
      font-weight: bold;
      font-size: 12px;
      transition: 0.2s;

      &:nth-child(2n) {
        border-left: 1px solid #dadada;
      }

      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
        margin-right: 8px;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &:hover {
        color: $color-text-pink;
      }
    }
  }

  .profile__raise-profile {
    &::before {
      background-image: url("../img/profile/raise-profile.svg");
    }

    &:hover::before {
      background-image: url("../img/profile/raise-profile-red.svg");
    }
  }

  .profile__increase-rating {
    &::before {
      background-image: url("../img/profile/health.svg");
    }

    &:hover::before {
      background-image: url("../img/profile/health-red.svg");
    }
  }

  .profile__message-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    padding: 4px 6px;
    color: #666666;
    border: 1px solid #c8c8c8;
    background: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
    border-radius: 3px;
    background-clip: padding-box;
  }
}


@media only screen and (max-width: $mobile-width) {
  .profile__status--man {
    // bottom: 3px;
    right: 3px;
  }

  .profile__status {
    // bottom: 3px;
    right: 3px;
  }

  .profile__status--photo {
    bottom: 6px;
  }
}
