.profile-video-item {
  background: $color-white;
  margin: 1px;
}

.profile-video-item-preview {
  position: relative;
}

.profile-video-item-preview img {
  width: 100%;
}

.profile-video-item-info a:hover {
  color: $color-claret;
}

.profile-video-item-play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.profile-video-item-info {
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 10px;
}

.profile-video-item-date-time {
  font-size: 12px;
  color: #909090;
  line-height: 16px;
  margin-top: 5px;
}

.profile-video-item-date-time .icon {
  margin-top: 1px;
  margin-right: 3px;
}

.profile-video-item .icon-clock,
.profile-section-row .icon-clock {
  width: 13px;
  height: 13px;
  background: url("../img/step2/icons/clock.svg") no-repeat;
  background-size: cover;
}

.profile-video-item-name {
  display: inline-block;
  vertical-align: top;
  color: $color-mine-shaft-dark;
  margin-bottom: 5px;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: bold;
}

.deleteItem {
  float: right;
  padding-top: 10px;
}

.profile-video-item-name.deleteItem {
  display: none;
}

.photo-video-visible-layout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/step2/icons/visible.svg") no-repeat center center
    rgba(0, 0, 0, 0.3);
  background-size: 28px auto;
}


.profile-video-item-visible {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  background-size: 28px auto;
}

.profile-video-item-visited {
  background: rgba(48, 48, 48, 0.65);
}

.profile-video-item-play::after,
.profile-video-item-preview::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/step2/icons/eye.svg") no-repeat center center
    transparent;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -16px;
  margin-top: -16px;
  transition: 0.5s ease;
}


.profile-video-item-play:hover::after,
.profile-video-item-preview:hover::after {
  content: none;
}

.profile-video-item-play:hover::after,
.profile-video-item-visited:hover::after,
.profile-video-item-preview:hover::after {
  content: "";
  display: block;
  width: 41px;
  height: 41px;
  background: url("../img/step2/icons/play.svg") no-repeat center center
    rgba(3, 3, 3, 0.5);
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 3px;
  background-clip: padding-box;
}

.profile-video-item-play:hover::after,
.profile-video-item-visited:hover::after {
  content: "";
  display: block;
  width: 41px;
  height: 41px;
  background: url("../img/step2/icons/play.svg") no-repeat center center
    rgba(3, 3, 3, 0.5);
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 3px;
  background-clip: padding-box;
}
