.profile-section-row {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-section-content {
  display: none;
}

.profile-section-content--man {
  display: block;
}

.profile-section-content--full {
  display: block;
}

.profile-section-row::before,
.profile-section-row::after {
  content: "";
  display: table;
}

.profile-section-column {
  width: 50%;
}

.profile-section-column-video {
  width: 25%;
  padding-bottom: 3px;
}

.profile-section-column--full {
  width: auto;
  flex-grow: 1;
}

.profile-section-column-text--full {
  width: auto;
  flex-grow: 1;
}

.profile-section-btn-prev-upload {
  display: block;
  font-size: 14px;
  color: $color-mine-shaft;
  background: #f1f1f1;
  text-align: left;
  padding: 5px 0;
  padding-left: 16px;
  text-shadow: 0 1px 1px $color-white;
  transition: all 0.3s;
}

.profile-section-btn-show-all {
  display: block;
  font-size: 14px;
  color: $gray-boulder;
  background: #f8f8f8;
  text-align: center;
  padding: 5px 0;
  text-shadow: 0 1px 1px $color-white;
  transition: all 0.3s;
}

.profile-section-btn-show-all:hover {
  background: $gray-mercury-light-more;
  color: $color-amaranth-dark;
}

@media (min-width: 768px) {
  .profile-section-column-right {
    width: 75%;
  }

  .profile-section-column-text--full {
    width: auto;
    flex-grow: 1;
  }
}

@media only screen and (max-width: $mobile-width) {
  .profile-section-row {
    flex-direction: row;
  }

  .profile-section-column {
    width: 100%;
  }

  .profile-section-column-picture {
    width: 41.66666666666667%;
  }

  .profile-section-column-text {
    width: 58.333333333333336%;
  }

  .profile-section-column-text--full {
    width: auto;
    flex-grow: 1;
  }
}
