.promo {
  max-width: 504px;
  padding: 35px;
}

.promo__title {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  max-width: 300px;
  margin: 0 auto 14px;
}

.promo__content {
  padding: 0 0 0 16px;
  margin: 0 0 45px 0;
}

.promo__description {
  color: #000000;
  max-width: 400px;
  margin: 0 0 6px 0;
}

.promo__image {
  display: block;
  margin: 0 0 10px 0;
}

.promo__showcase {
  margin: 0 0 40px 0;
}

.promo__link {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  max-width: 250px;
  width: 100%;
  margin: 0 0 0 26%;
  transition: $transition--primary;
}

.promo__link:hover {
  color: #ba1d43;
}

.promo__link span {
  display: block;
  font-weight: 700;
}

@media only screen and ($tablet-width) {
  .promo {
    padding-top: 20px;
    max-width: 500px;
    width: 100%;
  }

  .promo__showcase {
    margin: 0;
  }

  .promo__socials {
    display: none;
  }

  .promo__link {
    max-width: 100%;
    margin-left: 9px;
  }

  .promo__link span {
    display: inline;
  }

  .promo__image {
    margin-bottom: 20px;
  }
}

@media only screen and ($mobile-width) {
  .promo {
    max-width: 310px;
    padding: 103px 15px 30px 20px;
    border-radius: 3px;
    background: #ffffff;
  }

  .promo--hidden {
    display: none;
  }

  .promo__showcase {
    position: absolute;
    top: 14px;
    left: 51.5%;
    transform: translateX(-50%);
  }

  .promo__link {
    display: none;
  }

  .promo__image {
    margin: 0;
  }

  .promo__image img {
    width: 185px;
    height: 71.5167px;
  }

  .promo__title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .promo__description {
    font-size: 13px;
    line-height: 1.4;
    margin: 0 0 10px 0;
  }

  .promo__content {
    padding: 0;
    margin: 0;
  }
}
