.register-form__list {
  list-style: none;
  margin: 0 0 17px 0;
  padding: 0;
}

.register-form__list--margin-none {
  margin: 0;
}

.register-form__rules {
  margin: 0 0 18px 0;
}

.register-form__item {
  max-width: 426px;
  width: 100%;
  margin: 0 0 15px 0;
}

.register-form__item:last-child {
  margin-bottom: 0;
}

.register-form__button {
  display: block;
  line-height: 1.4;
  font-weight: 700;
  color: #333333;
  max-width: 235px;
  min-height: 32px;
  width: 100%;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  margin: 0 0 0 26px;
  padding: 6px 10px;
  background: linear-gradient(#ffffff 0%, #eaeaea 100%);
  cursor: pointer;
}

.register-form__button--submit {
  color: rgba(51, 51, 51, 0.7);
}

.register-form__button--submit-active {
  color: rgba(51, 51, 51, 1);
}

.register-form__field {
  border: none;
  padding: 0;
  margin: 0;
}

.register-form__field--hidden {
  display: none;
}

.register-form__area {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 25px 14px;
  border-bottom: 1px solid #dadada;
}

.register-form__area--margin-none {
  margin: 0;
}

.register-form__photo {
  display: none;
}

.register-form__photo--show {
  display: block;
}

@media only screen and ($mobile-width) {
  .register-form__rules {
    margin: 0 0 6px 0;
  }

  .register-form__list {
    margin: 0 0 11px 0;
  }

  .register-form__list--margin-none {
    margin: 0;
  }

  .register-form__area {
    padding: 0 14px 15px;
    margin: 0 0 14px 0;
  }

  .register-form__area--margin-none {
    margin: 0;
  }

  .register-form__button {
    max-width: 262px;
    margin: 0 0 0 14px;
  }
}
