.register {
  position: relative;
  padding: 26px 0 21px;
}

.register--hidden {
  display: none;
}

.register__description {
  margin: 0 25px 17px;
}

.register__description--warning {
  font-size: 13px;
  font-weight: 700;
  color: #c4254d;
  margin-bottom: 18.5px;
}

@media only screen and ($mobile-width) {
  .register {
    padding: 12px 0 14px;
  }

  .register__description {
    font-size: 13px;
    margin: 0 13px 10px;
  }

  .register__description span {
    display: none;
  }
}
