.register-rules {
  padding: 10px 25px;
  border-bottom: 1px solid #dadada;
}

.register-rules__label {
  position: relative;
  font-size: 0.95em;
  letter-spacing: -0.03em;
  padding: 0 0 0 22px;
}

.register-rules__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #898989;
  background: linear-gradient(to bottom, #dadada 0%, #ffffff 100%);
}

.register-rules__checkbox:checked ~ .register-rules__label::after {
  background-image: url("../img/check.svg");
  background-size: cover;
}

.register-rules__label--error::after {
  border: 1px solid #d1224b;
  z-index: 99;
}

.register-rules__link {
  color: #ba1d43;
  text-decoration: none;
}

@media only screen and ($mobile-width) {
  .register-rules {
    padding: 6px 15px;
  }

  .register-rules__label {
    display: flex;
  }

  .register-rules__label span {
    display: block;
  }

  .register-rules__label::after {
    top: 3px;
    width: 13px;
    height: 13px;
  }
}
