.register-birth {
  margin: 0 0 15px 0;
}

.register-birth--error {
  border: 1px solid #d1224b;
}

.register-birth__description {
  font-size: 13px;
  font-weight: 700;
  color: #666666;
  margin: 0 0 8px 0;
}

.register-birth__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.register-birth__item {
  margin: 0 4px 0 0;
}

.register-birth__item:last-child {
  margin-right: 0;
}

.register-birth__item--date {
  width: 90px;
}

.register-birth__item--month {
  width: 140px;
}

.register-birth__item--year {
  width: 90px;
}

@media only screen and ($mobile-width) {
  .register-birth {
    margin: 0 0 11px 0;
  }

  .register-birth__item--date {
    width: 78px;
  }

  .register-birth__item--month {
    width: 100px;
  }

  .register-birth__item--year {
    width: 75px;
  }
}
