.rules {
  width: 75%;
  top: 0;
  padding: 0 5px;
  box-sizing: border-box;
}

.rules .rules__documents {
  list-style: none;
  padding-left: 0;
  border: 1px solid $gray-mercury-light;
  border-radius: 3px;
}

.rules .rules__documents-item {
  background-color: $gray-wild-sant;
  border-bottom: 1px solid $gray-mercury-light;
  margin-bottom: 0;
  margin-top: 1px;
}

.rules .rules__documents .rules__documents-item:last-of-type {
  border-bottom: 0;
}

.rules .rules__documents-item:hover {
  background: $gray-gallery-dark;
}

.rules .rules__documents-item:hover .rules__documents-link {
  color: $color-cardinal;
}

.rules .rules__documents-link {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  color: $color-mine-shaft;
  font-size: 13px;
  font-weight: bold;
}

.rules .rules__documents-link::before,
.rules .rules__documents-link::after {
  content: " ";
  display: table;
}

.rules .pdf-red-icon {
  position: relative;
  width: 17px;
  height: 23px;
  margin-right: 10px;
}

.rules .pdf-red-icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
  background: url("../img/step2/icons/pdf-red-icon.svg") no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.rules .download-icon {
  position: relative;
  width: 14px;
  height: 18px;
}

.rules__documents-link:hover .download-icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
  background: url("../img/step2/icons/download-icon.svg") no-repeat;
  background-size: cover;
  opacity: 1;
}

.rules .download-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
  background-image: url("../img/step2/icons/download-icon.svg");
  background-size: cover;
  opacity: 0;
}

.rules__documents-link .download-icon {
  flex-shrink: 0;
  margin-left: auto;
}

.rules__documents-link:hover .download-icon {
  display: block;
}

.rules__documents-link:hover .pdf-red-icon::after {
  opacity: 1;
}

.rules__documents-link .pdf-red-icon {
  flex-shrink: 0;
}

@media only screen and (max-width: $tablet-width) {
  .rules {
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (max-width: $mobile-width) {
  .rules {
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
}
