.settings {
  width: 100%;
}

/* span.settings__photo-text {
	display:block;
	width:100%;
	height:34px;
	padding-top:7px;
	text-align:center;
	line-height:1.5em;
} */

.settings__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 5;
}

.settings__button {
  transition: 0.2s;
}

.settings__header-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
}

.settings__header-link {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  display: block;
  padding: 12px 15px;

  &:hover {
    color: $color-text-pink;
  }
}

.settings__main-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  padding-bottom: 0;
}

.settings__heading {
  width: 100%;
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 25px;
}

#settings-about {
  margin-bottom: 14px;
  line-height: 1.5em;
}

#settings_interests_chosen {
  margin-bottom: 28px;
}

.settings__main {
  width: calc(100% - 245px);
}

.settings__sidebar {
  width: 210px;
  margin-left: 35px;
}

.settings__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.settings__legend {
  padding: 0;
  color: #303030;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 11px;
}

.settings__label {
  color: #454545;
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: normal;
  display: block;
}

.settings__label-span {
  color: #999999;
}
.settings__input {
  -webkit-appearance: none;
}

.settings__input,
.settings__textarea {
  background: #f3f3f3;
  border: 1px solid #bdbdbd;
  margin-bottom: 20px;
  width: 100%;
  color: #333333;
  height: 37px;
  padding: 5px 20px 5px 10px;
  outline: none;
  letter-spacing: 0.01em;
  border-radius: 3px;

  &--phone {
    width: 50%;
  }
}

.settings__input--password {
  padding-right: 30px;
}

.settings__textarea {
  resize: vertical;
  height: auto;
}

.settings__photo-input-wrap {
  margin-top: 62px;
}

.settings__photo-label {
  background: #d9d9d9;
  height: 34px;
  border-radius: 3px 3px 0 0;
  border: 1px solid #bdbdbd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 1px 1px #ffffff;
  cursor: pointer;
  position: relative;

  /* display: block;
  position: relative;
  min-width: 200px;
  width: 100%;
    height: 236px;
  background: #dedede;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  text-shadow: 0 1px 1px #fff;
  cursor: pointer;
 */

  &::before {
    content: "";
    display: block;
    height: 200px;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    transition: 0.2s;
  }

  &:hover {
    &::before {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.settings__photo-input {
  display: none;
}

.settings__photo-wrap {
  height: 200px;
  padding: 26px 29px;
  background: #ebebeb;
  border-radius: 0 0 3px 3px;
  color: #303030;
  border: 1px solid #bdbdbd;
  border-top: none;
  /* display: block;
	width: 100%;
    min-width: 200px;
    height: 200px;
    padding: 26px 29px;
    background: #ebebeb;
    border-radius: 0 0 3px 3px;
    color: #303030;
    border: 0;
    border-top: none; */
}

.settings__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  //border-radius: 3px;
}

.settings__cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.settings__col {
  width: calc(50% - 5px);
}

.settings__vk-login {
  width: 120px;
  height: 37px;
  font-size: 0;
  margin-top: 32px;
  display: block;
  background-image: url("../img/settings/vk-login.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.settings__button {
  border-color: #9a9a9a;
  cursor: pointer;
  height: 37px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  color: #5d5d5d;
  background: linear-gradient(white 0%, #eaeaea 100%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 0 1px 1px #ffffff;
  line-height: 11px;

  &:hover {
    background: rgb(234, 234, 234);
  }
}

.settings__rules,
.settings__https {
  width: 185px;
  margin-left: auto;
  font-size: 13px;
  color: $gray-dove;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  margin-top: 60px;

  &:hover {
    color: $color-text-pink;
  }
}

.settings__rules {
  text-align: center;
}

.settings__wrap-img {
  margin-bottom: 10px;
}

.settings__footer {
  padding: 25px;
  /*  padding-bottom: 5px;
  border-top: 1px solid #e5e5e5; */

  width: 100%;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 0;
}

.settings__input-password {
  position: relative;
}

.settings__input-password svg {
  display: none;
  position: absolute;
  right: 7px;
  top: calc(50% - 20px / 2);
  transform: translateY(-50%);
  height: 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in;
  cursor: pointer;
  fill: #b2b3b3;

  &:hover,
  &:focus {
    fill: #666666;
  }
}
/* @media only screen and (min-width: 767px) {
	.settings__photo-wrap {
		position: relative;
		top: 34px;
	}
}
 */
@media only screen and (max-width: $tablet-width) {
  .settings__main {
    width: calc(100% - 257px);
  }

  .settings__sidebar {
    margin-left: 46px;
  }

  #settings-about {
    margin-bottom: 17px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .settings {
    padding: 0;
  }
/*
  .settings__header {
    display: none;
  } */

  .settings__main {
    width: 100%;
  }

  .settings__sidebar {
    width: 100%;
    max-width: 200px;
    margin-left: 0;
    margin-right: auto;

    /*  display: block;
		width: 100%;
		max-width: 200px;
		margin-left: 0;
		margin-right: auto; */
  }

  .settings__main-wrap {
    padding: 15px 16px;
    padding-bottom: 0;
  }

  .settings__heading {
    margin-bottom: 10px;
  }

  .settings__legend {
    margin-bottom: 1px;
  }

  .settings__input,
  .settings__textarea {
    margin-bottom: 11px;
  }

  .settings__textarea {
    height: auto;
  }

  .settings__photo-input-wrap {
    margin-top: 9px;
    margin-bottom: 11px;
    /*  display: block;
		height: 240px;
		margin-top: 12px;
		margin-bottom: 13px; */
  }

  .settings__col {
    width: 100%;

    .chosen-container {
      margin-bottom: 12px;
    }
  }

  .settings__input-wrap > .settings__select {
    margin-bottom: 17px;
  }

  .settings__vk-login {
    margin-top: 0;
    margin-bottom: 23px;
  }

  .settings__rules,
  .settings__https {
    display: none;
  }

  .settings__photo-wrap {
    height: 180px;
    padding: 26px 29px;
    background: #f3f3f3;
    border-radius: 0 0 3px 3px;
    color: #303030;
    border: 1px solid #cccccc;
    border-top: none;

    /*     position: relative;
		top: 34px; */
  }

  .settings__photo-img {
    display: block;
    width: 125px;
    margin: 0 auto;
    height: 125px;
    border-radius: 3px;
  }

  .settings__footer {
    margin: 0;
    padding: 15px 16px;
    padding-bottom: 0;
    position: sticky;
    overflow: hidden;
    z-index: 1020;
    bottom: 0;
    background-color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      bottom: calc(100% + 1px);
      left: 0;
      display: block;
      width: 100%;
      height: 12px;
      background-image: linear-gradient(to top, #ffffff, transparent);
    }
  }

  .settings__photo-label {
    background: #f9f9f9;
    height: 34px;
    border-radius: 3px 3px 0 0;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 0 1px 1px #ffffff;
    cursor: pointer;
    position: relative;
    color: #4c4c4c;

    /* position: relative;
		background: #e6e6e6;
		height: 192px;
		border-radius: 3px;
		border: 1px solid #ccc;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100%;
		font-weight: 700;
		font-size: 14px;
		text-shadow: 0 1px 1px #fff;
		cursor: pointer;
		color: #4c4c4c;
		vertical-align: top; */
  }

  .settings__photo-label::before {
    height: 180px;
    /*   position: absolute;
		top: 0;
		height: 34px; */
  }

  .settings__button {
    margin-bottom: 18px;
  }

  .settings__input-password svg {
    top: calc(50% - 13px / 2);
  }
}

@media only screen and (max-width: 767px) {
  .settings__footer {
    margin: 0;
    padding: 20px 0 25px 16px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1020;
    bottom: 0;
    background-color: #fff;
  }
}

/*   Выравнивание   отступа  над   блоком  с  паролем */
@media only screen and (max-width: 767px) {
  .settings__input-password {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 767px) {
  .settings__input-password {
    margin-top: 0;
  }
}
