.sidebar {
  background: $color-alabaster;
  width: 25%;
  color: $color-black;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

.sidebar__menu a {
  color: $color-black;
  font-family: inherit;
  line-height: 1.5;
  font-size: 14px;
  text-decoration: none;
}

.sidebar__menu ul,
.sidebar__menu ul li {
  list-style: none;
  padding: 0;
}

.sidebar__menu {
  list-style: none;
  margin: 0;
  padding-left: 56px;
}

.sidebar__item {
  margin-bottom: 7px;
  padding-top: 10px;
}

.sidebar__item a {
  color: $color-black;
  font-size: 13px;
}

.sidebar__item a:hover {
  color: $color-maroon-flush;
}

.sidebar__item > a {
  font-size: 15px;
  letter-spacing: 0.01em;
}

.sidebar__submenu {
  margin-top: 6px;
}

.sidebar__submenu li {
  margin-bottom: 6px;
}

.sidebar__menu li a:hover,
.sidebar__menu li a.active,
.sidebar__submenu li a:hover,
.sidebar__submenu li a.active {
  background-color: transparent;
  // color: $color-maroon-flush;
  color: $gray-active;
}

.sidebar__item-title {
  position: relative;
}

.sidebar__item-title .icon {
  position: absolute;
  left: -20px;
  top: 1px;
}

.sidebar__item-title span {
  color: $color-maroon-flush;
}

.sidebar-indicator {
  top: -0.3em;
  color: $color-maroon-flush;
  font-size: 0.85em;
  line-height: 10px;
  height: 1em;
  display: inline-block;
  font-weight: normal;
}

@media only screen and (max-width: $tablet-width) {
  .sidebar {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .sidebar {
    visibility: hidden;
    display: none;
  }
}
