.steps {
  width: 100%;
  letter-spacing: 0.01em;
}

.steps__description {
  display: flex;
  justify-content: space-between;
}

.steps__text {
  padding: 23px 26px;
  margin-right: 7px;
  max-width: 520px;

  & *:first-child {
    margin-top: 0;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  & a {
    display: flex;
  }
}

.steps__heading {
  margin-top: 0;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.steps__logo {
  flex-shrink: 0;
  width: 100px;
  height: 88px;
  margin: 23px 26px;
  margin-right: 60px;
}

.steps__list {
  counter-reset: li;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps__item-heading {
  background: #f8f8f8;
  font-size: 15px;
  color: $color-text-pink;
  padding: 6px 10px 6px 26px;
  margin: 0;
  border-bottom: 1px solid rgb(227, 227, 227);

  &::before {
    content: "ШАГ №" counter(li) ". ";
    counter-increment: li;
    color: #333333;
  }
}

.steps__img-wrap {
  flex-shrink: 0;
  width: 260px;
  margin: 23px 26px;
  margin-right: 90px;
}

@media only screen and (max-width: $mobile-width) {
  .steps__logo {
    display: none;
  }

  .steps__description {
    flex-direction: column;
  }

  .steps__text {
    max-width: none;
    padding: 16px;
  }

  .steps__item-heading {
    padding-left: 16px;

    &::before {
      display: block;
    }
  }

  .steps__img-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
