.support {
  padding: 5px;
  width: 100%;
}

.support__search {
  background: #f3f3f3;
  padding: 25px;
}

.support__search-form {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 9px;
    left: 8px;
    height: 17px;
    width: 17px;
    background-image: url("../img/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  &.active .support__search-hint {
    display: flex;
  }
}

.support__search-input {
  width: 100%;
  height: 34px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  padding-left: 34px;
  border-radius: 3px;
}

.support__search-hint {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 5;
  flex-direction: column;
  background: #fafafa;
  border: 1px solid #d2d2d2;
  border-top: none;
}

.support__search-hint-link {
  display: none;
  min-height: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  color: #000000;
  padding-left: 34px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $color-text-pink-light;
    background: $gray-seashell;
  }

  &.active {
    display: block;
  }
}

.support__wrap {
  padding: 25px;
}

.support__heading {
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
}

.support__text {
  margin-bottom: 20px;
}

.support__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.support__item {
  width: 33.333%;

  &:nth-child(3n + 2) .support__link {
    border-left: none;
    border-right: none;
  }

  &:nth-child(n + 4) .support__link {
    border-top: none;
  }

  &:nth-child(1) .support__item-img-wrap {
    background-image: url("../img/support/crown.svg");
  }

  &:nth-child(2) .support__item-img-wrap {
    background-image: url("../img/support/lady.svg");
  }

  &:nth-child(3) .support__item-img-wrap {
    background-image: url("../img/support/men.svg");
  }

  &:nth-child(4) .support__item-img-wrap {
    background-image: url("../img/support/video.svg");
  }

  &:nth-child(5) .support__item-img-wrap {
    background-image: url("../img/support/statistics.svg");
  }

  &:nth-child(6) .support__item-img-wrap {
    background-image: url("../img/support/card.svg");
  }

  &:hover {
    &:nth-child(1) .support__item-img-wrap {
      background-image: url("../img/support/crown-pink.svg");
    }

    &:nth-child(2) .support__item-img-wrap {
      background-image: url("../img/support/lady-pink.svg");
    }

    &:nth-child(3) .support__item-img-wrap {
      background-image: url("../img/support/men-pink.svg");
    }

    &:nth-child(4) .support__item-img-wrap {
      background-image: url("../img/support/video-pink.svg");
    }

    &:nth-child(5) .support__item-img-wrap {
      background-image: url("../img/support/statistics-pink.svg");
    }

    &:nth-child(6) .support__item-img-wrap {
      background-image: url("../img/support/card-pink.svg");
    }
  }
}

.support__link {
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: #000000;
  background: #f8f8f8;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  text-decoration: none;

  &:hover {
    color: $color-pink;
    background: #e7e7e7;

    .support__item-img-wrap {
      border-color: #ea9aaf;
    }
  }
}

.support__item-img-wrap {
  width: 70px;
  height: 70px;
  background: #ffffff;
  border: 1px solid #b6b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 15px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;



}

.support__item-heading {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.support__item-text {
  color: #898989;
  font-size: 12px;
  margin: 0;
}

.support__help {
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
}

.support__help-block {
  width: 50%;
  padding: 15px;
  padding-left: 50px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  position: relative;

  &:nth-child(2n) {
    border-left: none;
  }

  & > *:first-child {
    margin-top: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
  }

  &--no-answer::before {
    background-image: url("../img/support/message.svg");
  }

  &--telegram::before {
    background-image: url("../img/support/message-write.svg");
  }
}

.support__help-heading {
  margin-bottom: 6px;
}

.support__help-text {
  margin: 0;
  font-size: 13px;
}

.support__help-link {
  font-weight: bold;
  color: #000000;
  font-size: 13px;
  text-decoration: none;

  &:hover {
    color: $color-text-pink;
  }
}

.support__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 13px;
  color: #999999;
}

.support__nav-link {
  color: #999999;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: $color-text-pink;
  }
}

.support__question-header {
  font-size: 18px;
  margin-top: 0;
  font-weight: normal;
}

.support__question-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 150px;
}

.support__question-link {
  margin-bottom: 12px;
  display: block;
  color: #333333;
  text-decoration: none;

  &:hover {
    color: $color-text-pink;
  }
}

.support__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  color: #333323;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1.5em;
  margin-bottom: 100px;

  &:hover {
    background: rgb(234, 234, 234);
    color: #d4244c;
  }
}

.support__content {
  h1 {
    font-size: 18px;
    font-weight: normal;
  }
}

@media only screen and (max-width: $mobile-width) {
  .support__search {
    border-top: none;
    margin-top: 0;
    padding: 10px;
  }

  .support__wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .support__heading {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    background: #f3f3f3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #dcdcdc;
    border-bottom: none;
  }

  .support__text {
    display: none;
  }

  .support__item {
    width: 100%;

    &:nth-child(3n + 2) .support__link {
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }

    &:nth-child(n + 4) .support__link {
      border-top: 1px solid #dcdcdc;
    }

    &:last-child .support__link {
      border-bottom: 1px solid #dcdcdc;
    }
  }

  .support__link {
    position: relative;
    border-bottom: none;
    align-items: flex-start;
    padding: 15px;
    padding-right: 60px;
  }

  .support__item-img-wrap {
    border-radius: 0;
    border: none;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background-size: contain;
    background-color: transparent;
  }

  .support__nav {
    padding-left: 10px;
    padding-right: 10px;
  }

  .support__item-heading {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.01em;
  }

  .support__help-block {
    width: 100%;
    border-bottom: none;

    &:nth-child(2n) {
      border-left: 1px solid #dcdcdc;
    }

    &:last-child {
      border-bottom: 1px solid #dcdcdc;;
    }
  }

  .support__help-heading {
    font-weight: 400;
    font-size: 16px;
  }

  .support__question-list {
    margin-bottom: 30px;
  }

  .support__btn {
    margin-bottom: 20px;
  }
}
