.text-page {
  padding: 20px 15px;
}

.text-page h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.text-page h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.text-page h2 + ol {
  margin: 0;
  margin-top: 10px;
}

.text-page ol {
  list-style: decimal;
  padding-left: 16px;
}

.text-page ol + h2 {
  margin-top: 15px;
}

.text-page ol li {
  margin: 0;
  margin-bottom: 10px;
}

.text-page ol li p {
  margin: 0;
}

.text-page ol li h3 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
}

.text-page ul li {
  margin-bottom: 3px;
}

.text-page h2 + p {
  margin: 0;
  margin-top: 8px;
}

.text-page ul {
  list-style: disc;
  padding-left: 16px;
}

.text-page__center {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.text-page .text-page__nolist {
  list-style: none;
  padding-left: 0;
}

.text-page p + ul,
.text-page__list {
  margin-top: 10px;
}

.text-page__list-paragrph {
  padding: 20px 0 0 20px;
}

@media only screen and (max-width: $mobile-width) {
  .text-page {
    padding: 20px 15px;
    overflow: hidden;
  }
}
