.tooltip {
  position: absolute;
  top: calc(100% + 3px);
  max-width: 314px;
  background: $color-white;
  padding: 18px;
  box-shadow: 0 0 8px 0 $gray-silver-more-light;
  z-index: 1;
  font-size: 13px;
  line-height: 1.54;
  color: $color-mine-shaft;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.tooltip--photo {
  top: auto;
  margin-top: 30px;
  right: 0;
  width: 314px;
}

.tooltip p {
  margin: 0;
  letter-spacing: 0;
}

.tooltip-triangle-with-shadow::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: $color-white;
  transform: rotate(45deg);
  top: 8px;
  left: 6px;
  box-shadow: 0 0 10px 0 $gray-silver-more-light;
}

.tooltip-triangle-with-shadow {
  position: absolute;
  top: -15px;
  right: 10%;
  width: 30px;
  height: 15px;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: $mobile-width) {
  .tooltip {
    max-width: 100%;
  }
}
