.video-form input {
  line-height: normal;
}

.video-form button,
.video-form input,
.video-form optgroup,
.video-form select,
.video-form textarea {
  // color: inherit;
  font: inherit;
  margin: 0;
}

.video-form .profile-name-help-text {
  color: $gray-dusty-light;
  font-size: 13px;
  transition: all 0.3s;
}

.video-form .profile-name-help-text:hover {
  cursor: pointer;
}

.video-form img {
  width: auto;
  max-width: 100%;
  display: block;
}

.video-form .add-content__video-input-youtube img {
  width: 21px;
  height: 22px;
}

// .video-form {
//   display: none;
// }

.video-form--close {
  display: none;
}

.video-form--show {
  display: block;
}
