.winners {
	padding: 16px 15px 0;
	width: 100%;

	background-image: url("../img/step2/winners/background.png");
	background-repeat: no-repeat;
  background-size: cover;
  background-color: #a9144b;
  background-position: top center;
}

.winners h2 {
  margin-bottom: 25px;

	color: #ececec;
	font-size: 17px;
	font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.winners__contest-data {
  display: flex;
  margin-bottom: 15px;

  // border: 1px solid #c5c5c5;
  border: 1px solid #e23e7b;
  background-color: #b02057;
  border-radius: 4px;
}

.winners__contest-data p {
  margin: 0;
  flex-basis: 100%;
  padding: 6px 0;

  background-color: #b02057;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #e6e6e6;
  text-align: center;

  &:first-child {
    flex-basis: 97%;
    margin-right: 7px;

    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #cb1b5c;
    // border: 1px solid #9c1d48;
    // text-shadow: 0 1px 1px rgba(154, 29, 71, 0.5);
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.winners__contest-data span {
  color: #ffde44;
}

.winners__crown {
  display: flex;
  margin-bottom: 15px;
}

.winners__crown div {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winners__list ul,
.winners__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  list-style: none;
  text-align: center;
}

.winners__list {
  margin-bottom: 37px;
}

.winners__item {
  width: 32.5%;
  padding: 6px;

  background: linear-gradient(180deg, #ededed, #ececec, #ebebeb, #eaeaea, #e9e9e9, #e8e8e8, #e7e7e7, #e6e6e6, #e5e5e5, #e3e3e3);
  border-radius: 4px;
}

.winners__item-wrap {
  padding-top: 9px;
  padding-bottom: 16px;

  border-radius: 3px;
  border: 1px solid #ffffff;
}

.winners__item-wrap h3 {
  margin: 0;

  color: #8b8b8b;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
}

.winners__item-descr {
  margin: 0;
  margin-bottom: 11px;
  position: relative;

  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: #6d6a6a;
}

.winners__item-photo {
  display: block;

  cursor: pointer;

  transition: all 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.winners__item--gold .winners__item-descr {
  color: #b8750a;
}

.winners__item--bronze .winners__item-descr {
  color: #986f2d;
}

.winners__item-img {
  padding-bottom: 7px;
  display: block;

  background: url("../img/step2/winners/laurel-wreath.png") 50% 50%;
  background-repeat: no-repeat;
}

.winners__item-img img {
  border-radius: 100%;
  border: 3px solid #ffffff;
}

.winners__item-name {
  display: block;
  margin: 0;
  margin-bottom: 2px;
  position: relative;

  text-shadow: 0 1px 1px #ffffff;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.winners__item-name span {
  display: block;
}

.winners__item-city {
  margin: 0;
  margin-bottom: 17px;

  font-size: 13px;
  font-weight: 400;
}

.winners__item ul {
  padding: 0 20px 0 22px;
  margin-bottom: 14px;
  justify-content: center;
}

.winners__item li {
  width: 29px;
  padding: 4px 0;
  margin-right: 2px;

  color: #333333;
  font-family: $font--play;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  border: 1px solid #999999;
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #dddddd 0%, #ffffff 100%);
  cursor: default;
}

.winners__item li svg {
  width: 15px;
  height: 15px;
}

.winners__item-link {
  display: block;
  max-width: 178px;
  min-height: 36px;
  padding: 6px;
  margin: 0 auto;

  border: 1px solid #999999;
  background-image: linear-gradient(to bottom, #f4f4f4 0%, #dddddd 100%);
  color: #ac1c4c;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 2px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    border: 1px solid #a9144b;
    background-image: none;
    background-color: #cb1b5c;
    color: #ffffff;
}

  &:active {
    opacity: 0.8;
  }
}

.winners__gallery {
  margin: 0;
  padding: 0;
  width: 35%;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.winners__gallery li {
  width: 76px;
  height: 76px;
  margin-bottom: 4px;
  margin-right: 4px;

  cursor: pointer;

  transition: all 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.winners__gallery li img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.winners__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.winners__info {
  width: 63.2%;
  margin-top: -6px;

  color: #ffffff;
}

.winners__info h3 {
  margin: 0;
  margin-bottom: 5px;

  font-size: 18px;
  opacity: 0.8;
}

.winners__info > p {
  margin: 0;
  margin-bottom: 15px;

  line-height: 22px;
  opacity: 0.8;
}

.winners__info > div {
  display: flex;
  align-items: center;
  // width: 75.5%;
  padding: 4px 0 6px 12px;
  // border: 1px solid rgba(255,255,255, 0.5);
  border-radius: 2px;
  // background-color: #901b45;
  background-color: rgba(144,26,69,0.5);
}

.winners__info div p {
  margin: 0;
  margin-right: 12px;

  font-size: 13px;
  opacity: 0.7;
}

.winners__info ul {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.winners__info .socials__item {
  margin: 0;
  margin-right: 9px;

  transition: all 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.winners__info .socials__item .socials__link {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;

  opacity: 1;
  border-radius: 5px;

  // &--vk {
  //   background: url("../img/step2/winners/vk.svg");
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }

  // &--fb {
  //   background: url("../img/step2/winners/fb.svg");
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }

  // &--whats-app {
  //   background: url("../img/step2/winners/wa.svg");
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }
}

.socials .ya-share2__item_service_vkontakte .ya-share2__icon {
  background: url("../img/step2/winners/vk.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.socials .ya-share2__item_service_facebook .ya-share2__icon {
  background: url("../img/step2/winners/fb.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.socials .ya-share2__item_service_whatsapp .ya-share2__icon {
  background: url("../img/step2/winners/wa.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.socials .ya-share2__item_service_whatsapp .ya-share2__badge {
  background-color: transparent;
}
.socials .ya-share2__item_service_facebook .ya-share2__badge {
  background-color: transparent;
}
.socials .ya-share2__item_service_vkontakte .ya-share2__badge {
  background-color: transparent;
}
.socials .ya-share2__item_service_vkontakte .ya-share2__icon {
  background: url(../img/socials/icon--vk-gray.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.socials .ya-share2__item_service_facebook .ya-share2__icon {
  background: url(../img/socials/icon--fb-gray.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.socials .ya-share2__item_service_whatsapp .ya-share2__icon {
  background: url(../img/socials/icon--whats-app-gray.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.socials .ya-share2__item_service_vkontakte .ya-share2__icon,.socials .ya-share2__item_service_facebook .ya-share2__icon,.socials .ya-share2__item_service_whatsapp .ya-share2__icon {
  opacity:1;
}
.socials .ya-share2__item_service_vkontakte .ya-share2__icon:hover,.socials .ya-share2__item_service_vkontakte .ya-share2__icon:active,.socials .ya-share2__item_service_vkontakte .ya-share2__icon:target,
.socials .ya-share2__item_service_facebook .ya-share2__icon:hover,.socials .ya-share2__item_service_facebook .ya-share2__icon:active,.socials .ya-share2__item_service_facebook .ya-share2__icon:target,
.socials .ya-share2__item_service_whatsapp .ya-share2__icon:hover,.socials .ya-share2__item_service_whatsapp .ya-share2__icon:active,.socials .ya-share2__item_service_whatsapp .ya-share2__icon:target {
  opacity:0.7;
}

.winners__bottom > p {
  width: 100%;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 27px;

  opacity: 0.7;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: $mobile-width) {
  .winners {
    padding: 11px 7px 0;
  }

  .winners h2 {
    margin-bottom: 10px;
  }

	.winners__contest-data {
    flex-direction: column;
    margin-bottom: 7px;

    border: none;
    background-color: transparent;
    border-radius: 0;
  }

  .winners__contest-data p {
    flex-basis: 100%;
    padding: 0;

    background-color: transparent;
    font-weight: 400;
    font-size: 12px;

    &:first-child {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 5px;

      background-color: transparent;
      font-size: 13px;
    }

    &:last-child {
      margin: 10px 0;

      font-weight: 700;
    }
  }

  .winners__crown {
    position: relative;
    margin-bottom: 6px;
    min-height: 100px;
  }

  .winners__crown div {
    position: absolute;
    max-width: 43%;
    top: 0;
    left: 0;
    max-height: 100%;

    &:last-child {
      left: auto;
      right: 0;
    }

    &:nth-child(2) {
      right: 0;
      left: 0;
      margin: 0 auto;
      top: auto;
      bottom: 0;
      z-index: 10;
      max-width: 50%;
    }
  }

  .winners__list {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .winners__item {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;

    &--gold {
      order: -1;
    }
  }

  .winners__item-wrap {
    position: relative;
    padding-left: 43%;
    padding-top: 15px;
    padding-bottom: 13px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
  }

  .winners__item-img,
  .winners__item-wrap ul {
    position: absolute;
    top: 17px;
    left: 0;
    width: 50%;

    background-size: contain;
  }

  .winners__item-wrap ul {
    top: auto;
    bottom: 13px;
    padding: 0 17px 0 11px;
    margin-bottom: 0;
  }

  .winners__item li {
    padding: 3px 0;
    min-width: 20px;
    max-width: 25px;

    font-size: 16px;
    line-height: 18px;
  }

  .winners__item-wrap h3 {
    font-size: 15px;
    line-height: 19px;
  }

  .winners__item-descr {
    margin-bottom: 3px;

    font-size: 13px;
  }

  .winners__item-img img {
    width: 80px;
    height: 80px;
  }

  .winners__item-name {
    font-size: 14px;
    line-height: 19px;

    br {
      display: none;
    }
  }

  .winners__item-city {
    margin-bottom: 0;
  }

  .winners__item-link {
    max-width: 170px;
    min-height: 26px;
    padding: 0;
    margin-top: auto;
    padding: 0 10px;
    position: relative;
    left: 4px;

    border-color: transparent;
    background: transparent;
  }

  .winners__gallery {
    width: 100%;
    padding: 15px 5px 7px 15px;
    margin-bottom: 25px;

    background-color: rgba(126,24,61, 0.6);
  }

  .winners__gallery li {
    width: 105px;
    height: 105px;
    margin-bottom: 7px;
    margin-right: 7px;
  }

  .winners__info {
    width: 100%;
    padding: 0 15px;
  }

  .winners__info > p {
    margin-bottom: 21px;
  }

  .winners__info > div {
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;

    border: none;
  }

  .winners__info .socials__item,
  .winners__info .socials__item .socials__link {
    width: 25px;
    height: 25px;
  }

  .winners__bottom > p {
    padding: 0 17px;
    margin-top: 16px;

    line-height: 18px;
  }

  .winners__item li svg {
    width: 13px;
    height: 12px;
  }
}

@media only screen and (max-width: 370px) {
  .winners__gallery {
    display: flex;
  }

  .winners__gallery li {
    // width: calc(50% - 10px);
    width: 30%;
    height: auto;
    margin-bottom: 7px;
  }

  .winners__item-img,
  .winners__item-wrap ul {
    width: 45%;
  }

  .winners__item-link {
    left: 0;

    font-size: 12px;
  }
}




