// тут будут переменные для цветов
$gray-alto: #cecece;
$gray-alto-light-very: #dbdbdb;
$gray-alto-light: #d1d1d1;
$gray-alto-light-more: #dedede;
$gray-alto-dark: #cfcfcf;
$gray-alto-dark-more: #d3d3d3;
$gray-alto-dark-very: #d9d9d9;
$gray-silver-chalice-light: #b2b2b2;
$gray-silver-chalice: #aaaaaa;
$gray-silver-chalice-dark: #a5a5a5;
$gray-silver-more-light: #b8b8b8;
$gray-silver-light: #bbbbbb;
$gray-silver: #bfbfbf;
$gray-silver-dark: #bdbdbd;
$gray-silver-dark-more: #c3c3c3;
$gray-silver-darkest: #c8c8c8;
$gray-mercury-more-light: #d2d2d2;
$gray-mercury-light: #e3e3e3;
$gray-mercury-light-more: #e4e4e4;
$gray-mercury: #e8e8e8;
$gray-mercury-light-dark: #e6e6e6;
$gray-mercury-dark: #e7e7e7;
$gray-mercury-more-dark: #e9e9e9;
$gray-gallery-light: #eaeaea;
$gray-gallery-clear: #eeeeee;
$gray-gallery: #f0f0f0;
$gray-gallery-dark: #ebebeb;
$gray-gallery-dark-more: #efefef;
$gray-wild-sant: #f4f4f4;
$gray-wild-sant-dark: #f5f5f5;
$gray-concrete: #f3f3f3;
$gray-concrete-dark: #f2f2f2;
$gray-dusty-light: #999999;
$gray-dusty: #9a9a9a;
$gray-dusty-dark: #959595;
$gray-boulder: #7b7b7b;
$gray-boulder-derk: #757575;
$gray-dove: #666666;
$gray-god: #111111;
$gray: #898989;
$gray-seashell: #f1f1f1;
$gray-darkness: #888888;
$gray-presentation: #d6d6d6;
$gray-nobel-light: #b3b3b3;
$gray-nobel: #b7b7b7;
$gray-nobel-dark: #b5b5b5;
$gray-active: #848484;

$silver:  #cccccc;
$silver-light-more: #cdcdcd;
$silver-light: #c3c3c3;
$silver-dark: #bcbcbc;
$color-black: #000000;
$color-white: #ffffff;
$color-white-dark: #fefefe;

$color-alabaster: #f8f8f8;
$color-alabaster-light: #f7f7f7;
$color-alabaster-dark: #fcfcfc;
$color-porcelain: #ecedee;
$color-white-dirty: #fdfdfd;
$color-alto: #dadada;
$color-bon-jour: #e4e2e3;
$color-flory: #f07894;
$color-carissma: #e591a5;
$color-azalea: #fbdde4;
$color-red-berry: #990000;
$color-night-shadz: #e82352;
$color-amaranth-light: #e32554;
$color-amaranth: #e82352;
$color-amaranth-dark: #e42e56;
$color-maroon-flush-light-more: #c4254d;
$color-maroon-flush-light: #d1224b;
$color-maroon-flush: #cc244c;
$color-maroon-flush-dark: #b41e42;
$color-maroon-flush-dark-more:#ba1d43;
$color-hibiscus: #c03168;
$color-cardinal-light-more: #c21c43;
$color-cardinal-light: #b8193f;
$color-cardinal: #a7183b;
$color-cardinal-dark: #c11c43;
$color-cardinal-dark-more: #c62236;
$color-tamarillo: #9b0f30;
$color-tamarillo-dark: #9d0e1f;
$color-old-brick:  #942231;
$color-claret-light: #801639;
$color-claret: #8b1330;
$color-claret-dark: #84163a;
$color-cerise-red:#dc2954;
$color-cabaret: #d33a66;
$color-brick-red: #be2943;

$color-supernova: #ffcc00;
$color-anzac: #e1a339;
$color-koromiko: #ffc569;
$color-golden-tainoi: #ffcc60;
$color-golden-tainoi-dark: #ffcc66;
$color-atomic-tangerine: #ff9d5c;
$color-buddha-gold: #cc9900;
$color-pizza: #d59c14;

$color-mine-shaft-dark: #303030;
$color-mine-shaft: #333333;
$color-mine-shaft-light: #282828;
$color-mine-shaft-black: #222222;

$color-gray: #303030;
$color-gray-light: #4c4c4c;
$color-pink: #d4224e;
$color-pink-dark: #bb1e44;

$color-text-pink: #cc244c;
$color-text-pink-light: #d4244c;
$color-text-pink-dark: #bb1941;


