// тут будут медиа выражения под адаптив и резину в случае необходимости

$desktop-width: 1439px;
$tablet-width: 1023px;
$mobile-width: 767px;
// $mobile-width: "min-width: 320px";

// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;
