<div class="popup-comment-smile-choose messenger messenger__form-smiles">
    <div class="messenger__form-smiles-label">
      <div class="messenger__form-smiles-label-item messenger__form-smiles-label-item--active"
        id="messenger__form-smiles-label-emoji">
        Эмоджи
      </div>
      <div class="messenger__form-smiles-label-item" id="messenger__form-smiles-label-stickers">
        Стикеры
      </div>
    </div>
    <div class="messenger__form-smiles-items">
      <div class="messenger__form-smiles-item">
        <div class="messenger__form-smiles-place">
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-1"
            title="Смешно" id="haha"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-2"
            title="Воу" id="tongue"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-3"
            title="Смешно до слез" id="cry"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-4"
            title="Ангел" id="angel"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-5"
            title="Любовь" id="heart-eyes"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-6"
            title="Оууу" id="happy-sweat"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-7"
            title="Шок" id="shocked"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-8"
            title="Лол" id="lol"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-9"
            title="Троллфейс" id="grinning"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-10"
            title="Бешенство" id="nervous"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-11"
            title="Злость" id="grumpy"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-12"
            title="Гнев" id="devil-horns"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-13"
            title="Не смешно" id="unamused"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-14"
            title="Утомление" id="eye-roll"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-15"
            title="Недовольство" id="dissatisfied"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-16"
            title="Поражение" id="bawling"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-17"
            title="Усталость" id="tired"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-18"
            title="Сон" id="zzz"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-19"
            title="Крутой" id="sunglasses"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-20"
            title="Зомби" id="zombie"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-21"
            title="Напуганный" id="fearful"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-22"
            title="Тошнит" id="throwing"></div>
          <div
            class="messenger__form-smiles-place-block-main messenger__form-smiles-place-block-emoji-23"
            title="Инопланетянин" id="alien"></div>
        </div>
        <div class="messenger__form-smiles-place visually-hidden">
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-1"
            title="Незнакомка" id="lady"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-2"
            title="Котик" id="cat"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-3"
            title="Котенок" id="kitty"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-4"
            title="Клоун" id="clown"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-5"
            title="Корона" id="crown"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-6"
            title="Победа" id="cup"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-7"
            title="Фрида" id="frida"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-8"
            title="Зависть" id="envy"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-9"
            title="ЧМО" id="schmuck"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-10"
            title="Маньяк" id="maniac"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-11"
            title="Гик" id="geek"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-12"
            title="Любовное сообщение" id="lovemsg"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-13"
            title="Любовная поэма" id="poem"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-14"
            title="Свидание в кафе" id="cafe"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-15"
            title="Серьезный человек" id="ironman"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-16"
            title="Некто" id="mrwho"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-17"
            title="Гонщик" id="raceman"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-18"
            title="Вечеринка" id="party"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-19"
            title="Убийство " id="kill"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-20"
            title="Диета" id="diet"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-21"
            title="Усатый мужик" id="mustache"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-22"
            title="Панк" id="punk"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-23"
            title="Человек-паук" id="spiderman"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-24"
            title="Робот" id="robot"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-25"
            title="Романтика" id="romantic"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-26"
            title="Идея" id="idea"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-27"
            title="Шутка" id="joke"></div>
          <div
            class="messenger__form-stickers-place-block main messenger__form-stickers-place-block--stickers-28"
            title="Достижение" id="success"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-1"
            title="Спокойной ночи" id="good-night"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-2"
            title="C Днем Рождения!" id="birthday"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-3"
            title="Цветок" id="flower"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-4"
            title="Золотая рыбка" id="goldfish"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-5"
            title="Котик" id="kitty-two"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-6"
            title="В полете" id="fly"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-7"
            title="Может кофе?" id="coffee"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-8"
            title="Отличное фото!" id="like"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-9"
            title="Девочка" id="female-sign"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-10"
            title="Огонь!" id="fire"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-11"
            title="Шокирующая новость" id="bomb-news"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-12"
            title="Сказочная зима" id="fir-in-round-glass"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-13"
            title="Кольцо" id="ring"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-14"
            title="Поцелуй" id="kiss-lips"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-15"
            title="Страсть" id="love-devil"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-16"
            title="Романтическая музыка" id="romantic-song"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-17"
            title="Мальчик" id="male"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-18"
            title="Любовь" id="love-shield"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-19"
            title="Miss Future" id="missfuture-shield"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-20"
            title="Обезьяна" id="monkey-face"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-21"
            title="Цветок в подарок" id="blue-flower"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-22"
            title="Свадьба" id="wedding"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-23"
            title="Резиновая уточка" id="rubber-duck"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-24"
            title="Место встречи" id="love-place"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-25"
            title="Динозавр" id="toy-dino"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-26"
            title="Барби" id="barbi"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-27"
            title="Весна!" id="spring"></div>
          <div
            class="messenger__form-stickers-place-block romantic messenger__form-stickers-place-block--stickers-28"
            title="Бомба" id="bomb"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-1"
            title="Овен" id="zodiac-aries"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-2"
            title="Телец" id="zodiac-taurus"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-3"
            title="Близнецы" id="zodiac-gemini"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-4"
            title="Рак" id="zodiac-cancer"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-5"
            title="Лев" id="zodiac-leo"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-6"
            title="Дева" id="zodiac-virgo"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-7"
            title="Весы" id="zodiac-libra"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-8"
            title="Скорпион" id="zodiac-scorpio"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-9"
            title="Стрелец" id="zodiac-sagittarius"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-10"
            title="Козерог" id="zodiac-capricorn"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-11"
            title="Водолей" id="zodiac-aquarius"></div>
          <div
            class="messenger__form-stickers-place-block zodiac messenger__form-stickers-place-block--stickers-12"
            title="Рыбы" id="zodiac-pisces"></div>
        </div>
      </div>
    </div>
  </div>